.image-component-class-l {
height: 385px;
width: 100%;

}


.new-cl {
    position: relative;
}

.himageClass {
    color: white;
    position: relative;
    margin-top: -175px;
    margin-left: 5%;
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: -0.6px;
    color: #ffffff;
}

.pimageClass {
    margin-left: 5%;
    font-size: 15px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: -0.6px;
    color: #ffffff;
}

