.lookbooksbox1 {
    margin-left: 4.9%;
    margin-right: 6.2%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.lookbooksbox2{
    margin-bottom: 20px;
    margin-left: 4.9%;
    margin-right: 6.2%;
}

.btn-b-l {
    margin-top: 24px;
    margin-bottom: 112px;
    margin-left: 45%;
    margin-right: 50%;
    width: 160px;
    height: 40px;
    border: solid 1px #53432b;
    color: #53432b;
}

.btn-b-l:hover {
    margin-top: 24px;
    margin-bottom: 112px;
    margin-left: 45%;
    margin-right: 50%;
    width: 160px;
    height: 40px;
    border: solid 1px #53432b;
    background:  #53432b;
    color: white;
}

.btn-b-l-m{
    margin-top: 24px;
    margin-bottom: 112px;
    margin-left: 27% !important;

    width: 160px;
    height: 40px;
    border: solid 1px #53432b;
    color: #53432b;
}

.img-profile-l {
    border-radius: 50% !important;
    width: 103.1px;
    height: 110px;
    margin-top: 19px;
    margin-left: 50%;
    margin-right: 50%;
}

.text-below-img-profile {
  margin-top: 6px;
  margin-left: 50%;
  width: 98px;

  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
}

.img-profile-lm {
    border-radius: 50% !important;
    width: 103.1px;
    height: 110px;
    margin-top: 19px;
    margin-left: 40%;
    margin-right: 50%;
}


.text-below-img-profile {
  margin-top: 6px;
  margin-left: 50%;
  width: 98px;
  font-family: NunitoSans;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
}

.text-below-img-profile-m {
   margin-top:  20%;
    margin-top: 6px;
    margin-left: 50%;
    width: 98px;
    font-family: NunitoSans;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}