.lbmain {
    width: 100%;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #c3c3c3;

}

.class1 {
margin-left: 0.8%;
margin-right: 0.4%;
}

.lookbooki { 
    width: 97%;
    height: 420px;
    object-fit: contain;

}

.lookboxH {
    margin-left: 1.8%;
    margin-top: 28px;
    font-size: 23px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.lookboxP {
    margin-left: 1.8%;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8b8b8b;
}

.lookboxP1 {
    margin-left: 1.8%;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  margin-bottom: 23px;
}

.imagebelow {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #4a4a4a;
}

.imagebelow2 {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #4a4a4a;
  margin-left: 5%;
}


.s-l-box {
    margin-left: 5%;
    width: 14px;
  height: 14px;
  background-color: #96b176;
}

.s-l-box1 {
    margin-left: 8px;
    width: 14px;
  height: 14px;
  background-color: #e3c19b;
}

.new-rule {
    margin-bottom: 18px;
}

.look-underline {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .imagebelow, imagebelow2 {
        text-align: center !important;
    }
    .imagebelow2 {
        margin-left: 40%;
    }
}

@media only screen and (max-width: 800px) {
    .imagebelow, imagebelow2 {
        text-align: center !important;
    }
    .imagebelow2 {
        margin-left: 42%;
    }
    .imagebelow {
        margin-top: 5px;
    }
    .look-underline {
        text-align: center;
    }
    
}
