.CaboutUs {
    width: 1366px;
    height: 511px;
    background-color: #3a3a3a;

}

.c-image-1 {
    margin-left: 9.95%;
    margin-right: 3%;
}

.image-component-class-cus-1 {
    width: 70px;
    height: 68.4px;
}


.p-CaboutUs {
    width: 53.8%;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.86;
    letter-spacing: normal;
    color: #c8c8c8;
    font-weight: 600;
}

.c-image-2 {
    margin-left: 2.9%;
    margin-right: 9%;
    max-width: 219px;
    max-height: 164.5px;
    object-fit: contain;
}

.image-component-class-cus-2 {
    width: 150px;
    height: 70px;
}

.somethingtop {
    background-color: #3a3a3a;
    color: white;
    margin-top: 84px;
}