.main-heading-f {
    margin-top: 40px;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.6px;
    color: #4a4a4a;
  
}

.formgroup1 {
    margin-top: 26px;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: #9b9b9b;
}

.formGroupExampleInput {
    height: 40px;
    background-color: #fafafa;
    border: solid 1px #eaeaea;
}

.formgroup2 {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: #9b9b9b;
}

.btn-cus-change {
    margin-top: 11px;
  width: 139px;
  height: 40px;
  border: solid 1px #696969;
  margin-bottom: 70px;
  
}

.btn-cus-change:hover {
    margin-top: 11px;
  width: 139px;
  height: 40px;
  color: white;
  background: #696969;
  border: solid 1px #696969;
  margin-bottom: 70px;
}

.cformMain  {
    margin-left: 1.9%;
}