.Cmain {
    background: white;
    margin-bottom: 50px;
}

.text-bold {
    font-weight: 600;
}

.p-cmain-1 {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.57;
    letter-spacing: normal;
    color: #4a4a4a;
}

.cmain-1 {
    margin-top: 50px;
}


.cmain-2 {
    margin-top: 50px;
}

.cmain-0 {
    margin-left: 5.05%;
    width: 30%;
}

.GiveACall {
  margin-right: 1.7%;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #747474;
}


.GiveACall1 {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #4a4a4a;
  }

  .contact-ab {
  margin-bottom: 266px;
  }

  .cmain-1-f {
      margin-top: 50px;
      height: 500px;
      width: 44.8%;
      background-color: #ffffff;
    border: solid 1px #d8d8d8;
  }

  .contactUsForm {
      margin-bottom: 50px;
 
  }