.ContactHocD {
    margin-left: 5%;
    width: 26.9%;
    margin-top: 20px;
    background-color: #fafafa;
    border: solid 1px #d6d6d6;
}

.ContactHocS {
    margin-right: 6.5%;
    width: 26.9%;
    margin-top: 20px;
    background-color: #fafafa;
    border: solid 1px #d6d6d6;
}

.ContactHocE {
    margin-left: 3.8%;
    margin-right: 3.8%;
    width: 26.9%;
    margin-top: 20px;
    background-color: #fafafa;
    border: solid 1px #d6d6d6;
}

.contactHOCH1 {
    margin-top: 20px;
    text-align: center;
}

.contactHOCP1 {
    margin-bottom: 53px;
    text-align: center;
}

.img-c {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 47px;
    height: 37px;
    object-fit: contain;

}

.contactHOCH1 {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  text-align: center;
  color: #4a4a4a;
}