.aboutusc {
    background-image: url(./../../img/contactus/contactus.png);
    height: 326px;
}

.p-c-c {
    margin-top: 41px;
    margin-left: 4.9%;
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1.1px;
    color: #ffffff;
}

.l-c-u{
    margin-left: 5.12%;
    width: 63px;
    height: 3px;
    border: solid 2px #ffffff;
}

.h1-CaboutUs {
    margin-top: 56px;
    margin-left: 2.9%;
    margin-right: 9%;
}
.cus-r-b {
    margin-bottom: 70px;
}