.image1d1 {
  
    width: 98%;
    height: 175.6px;
    background-color: #d8d8d8;
    border: solid 0.5px #979797;
}

.main-container {
  width: 100%;
  border-radius: 5px;
  background-color: #fafafa;
  border: solid 1px #d4d4d4;

}



.image1d2 {
    z-index: 5;
    margin-top: -8.5%;
    height: 276.6px;
    object-fit: contain;
    box-shadow: -3px -2px 7px 0 rgba(0, 0, 0, 0.5);
    border: solid 5.5px #ffffff;
}


  
  .pdesignerText {
  

font-family: NunitoSans;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #4a4a4a;
  }

  .cus-d-1 {
    word-wrap: break-word;
  }

  .hdesignerText {
    margin-top: 19.4px;
    margin-left: 4.8%;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    color: #4a4a4a;
  }

  


  .ling {
    margin-bottom: 58px;
    margin-left: 4.8%;
    margin-right: 6.5%;
  }

  .btn-d {
    margin-left: 4.8%;
    width: 166px;
     height: 40px;
  object-fit: contain;
  border: solid 1px black;
  }

  .btn-b {
    width: 160px;
    height: 40px;
    object-fit: contain;
    border: solid 1px black;
  }


  .paradiv {
      width: 85%;
      height: 90px;
      margin-top: 11px;
      margin-left: 4.8%;
      margin-right: 1.8%;
  }

  .btn-box-1{
      margin-top: 58px;
    margin-left: 30%;
    margin-right: 70%;
    margin-bottom: 112px;
}

.main-container21 {
    width: 100%;
    border-radius: 5px;
    background-color: #fafafa;
    border: solid 1px #d4d4d4;
}

.btn-d-07 {
    margin-bottom: 10px;
    margin-left: 4.8%;
    width: 166px;
    height: 40px;
  object-fit: contain;
  border: solid 1px black;

}


.btn-box{
    margin-top: 58px;
  margin-left: 90%;
  margin-bottom: 112px;
}