.designerHeader {
    width: 100%;
    z-index: 5;
    opacity: 0.9;
    background-color: #ffffff;
    margin-top: -50px;
   
}

.SearchName {
    margin-top: 17px;
    margin-bottom: 14px;
    margin-left: 13%;
     font-size: 14px;
     font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: #7a7a7a;
}

.searchImage {
    text-align: right;
margin-top: 11px;
margin-left: 58%;
width: 28px;
height: 28px;
margin-bottom: 11px;
}

