.image-component-class1 {
    height: 450px;
    margin-top: 58px;
  width: 100%;
  opacity: 0.9;
}

.imageparent {
  position: relative;
}

.text-content-d {
  width: 50%;
  margin-top: -20%;
  position: absolute;
  margin-left: 8.9%;
  
}

.heading-1 {
  font-size: 35px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: -0.6px;
  
}

.pheading-1 {
  font-family: NunitoSans;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  
}