
.dFmaincontentToDisplay {
    overflow: auto;
    margin-left: 1.86%;
    margin-bottom: 0.5%;
    background-color: #ffffff;
    border: solid 1px #c1a67f;
}


.dFheadingToDisplayT {
    height: 3.92%;
    border-radius: 1px;
    background-color: #c1a67f;
    color: #ffffff;
}

.dFheadingToDisplayF {
    height: 3.92%;
    border-radius: 1px;
    background-color:  #ffffff;
    color: #c1a67f;
}

.hcontentHeadingF {
    padding: 1.21%;
    margin-left: 1.09%;
    height: 3.92%;
    border-radius: 1px;
    height: 1.3%;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
 
  }

  .dstaticContentF {
    margin-right: 1.8%;
    margin-left: 1.8%;
    margin-top: 1.8%;
    margin-bottom: 1.8%;
}
  .pcontentHeadingF {
      margin-top: 1.6%;
      margin-right: 1.4%;
      margin-bottom: 2.5%;
      margin-left: 1.9%;  
  }

  .contentstaticHeadingF {
    font-size: 18px;
  }

 

  .contentstaticParaF {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #808080;

  }

  .dsigns {
    float: right;
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    width: 0.8%;
    margin-right: 1%;
  }
