
.Commoncpc-main {
    max-width: 100%;
    
}

.Commoncpc {
    font-family: NunitoSans;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.c-cpc-h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.c-cpc-h4 {
    margin-top: 20px;
    margin-bottom: 20px;
}

