.main-class {

    max-width: 100% !important;

 
}


.Rectangle{
    width: 100%;
    height: 240px;
    opacity: 0.25;
    background-color: #000000;

}

.main-content{
    margin-left: 4.7%;
    margin-top: 2.19%;
    width: 73.206%;
    height: 63.70%;
    background-color: #ffffff;
    box-shadow: 0 0 8px 0 rgba(166, 166, 166, 0.5);
    margin-bottom: 7.13%;

}

.sub-headings {
    margin-left: 5.22%;
    margin-top: 2.19%;

}

.header-box {
    margin-top: 1.8%;
    margin-left: 1.8%;
    margin-right: 1.8%;
    margin-bottom: 1.8%;
}

.open-box {
    margin-left: 1.8%;
    margin-right: 3.5%;
}

.close-box {
    margin-left: 1.8%;
}

.customer-p-b {
padding: 0;
border: none;
background: none;
display:block;
margin-top: 20px;
font-size: 16px;
}

.customer-p-b:hover {
    text-decoration: underline;
}

.cus-cp {

    text-align: justify !important;   
}

.customer-p-b-m {
    color: #ffffff;
    width: 100%;
    text-align: center;
    background: #c1a67f;
    display:block;
    margin-top: 2px;
    font-size: 16px;
    height: 30px;
    }

.d-cus-m {
    left:5%; 
    right:5%; 
    margin-top: 3%;
    margin-bottom: 7%;
}

.stateClass{
    padding-left: 5%;
    padding-right: 3%; 
}

.d-cus-faq {
    margin-bottom: 3.9%;
}