.tnc-header-img {
    height: 230px;
    z-index: -1000;
}

.tnc-header-img img{
    height: 100%;
    width:100%;
    z-index: -1000;
}

.termsAndCondtion {
    margin-top: 2.4%;
    margin-left: 5.05%;
    margin-right: 6.2%;
}

