p-class-TermsContent {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
} 

.heading-class-TermsContent {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #4a4a4a;
}

.main-class-TermsContent {
    margin-bottom:  8.35%;
}
