
.body3-container{ 
  margin-top:10%;
  padding: 0;  
    width: 100%;
    height: 150vh;
    display: grid;
    grid-template-rows: 25% 40% 10% 20%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
            'body3-container-left body3-container-middle body3-container-right'
            'body3-container-left body3-container-middle body3-container-right'
            'body3-container-left body3-container-middle body3-container-right'
            'body3-container-left body3-container-middle body3-container-right';
}

.body3-container-left{ 
    grid-area: body3-container-left;
    padding-top: 10%; 
    text-align: left;
}
.body3-container-right{
     grid-area: body3-container-right;
     /*text-align: right;*/    
}

.body3-container-middle{ grid-area: body3-container-middle}


.body3-rectangle {
  margin-top: 28% ;
  margin-left:1%;
  width: 32%;
  height: 90%;
  object-fit: contain;
  background-color: rgba(141, 88, 88, 0.9);
}


.Rectangle-10 {
  width: 152px;
  height: 22px;
  object-fit: contain;
  background-color: #ffffff;
}
.style-1_b3{
  margin-left: -20%
}
.style-2_b3{
  margin-left: -19%; margin-top: 1%;
}
.style-3_b3{
  margin-top:25%;
}
.style-4_b3{
  margin-top:15%;margin-left: 35%;margin-bottom: 2%;
}
.style-5_b3{
   margin-left: 15%;
}
.style-7_b3{
  margin-top: 20px;
}
.style-8_b3{
  margin-top:45%;
}
.pstyle_b3{
  color: #986868;letter-spacing: 2.1px;text-align: center;font-size: 10px;padding-top:2%;padding-right: 14%;
}
.btn_b3{
    height:40px !important;
    background-color: white;
    margin-top:-30%;
    margin-left:26%;font-size: 12px;letter-spacing: -0.3px;color: #986868;
  }
.Bonus-Look-All-Day {
  width: 340px;
  height: 90px;
  object-fit: contain;
  font-size: 35px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: -0.6px;
  text-align: center;
  color: #ffffff;
}

.Bonus-Look-All-Day .text-style-1 {
  letter-spacing: normal;
}

.collection {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center !important;
  color: #ffffff;
}

.body3_container_middle_image{
  height: 87%;
  width: 100%
}

.style-img1_b3{
  height: 100%;
  width: 87%
}

.style-img2_b3{
  height: 100%;
  width: 86%
}




