.section_4images{
	padding: 0%; 
	margin-top:3%;
}

.span_styling_extra{
	font-size: 14px;font-weight:500;text-align:left;color: #4a4a4a;
}

.margins_body6{
	margin-top: 5%;
	margin-bottom: 5%;
}
.span_body6{
	font-size: 14px; 
	font-weight:bold;
	text-align:left;color: #4a4a4a;
}
.span_body7_desc{
	font-weight: normal;
	text-align: left;
  font-size: 11px;
  color: #4a4a4a;
}
.margins_inital{
	margin-left:0px;
	margin-right:0px;
}
.insta{
	margin-top:-5%;
	font-weight: bold;
}
.thread-origin{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.1px;
  color: #4a4a4a;
}
.imgs_insta{
	width:100%;
	height:273.2px;
}