.body5-container{   
    width: 100%;
    height: 150vh;
    display: grid;
    grid-template-rows: 10% 45% 10% 25%;
    grid-template-columns: 20% 1fr 40%;
    grid-template-areas: 
            'body5-container-left body5-container-top body5-container-right'
            'body5-container-left body5-container-top body5-container-right'
            'body5-container-left body5-container-bottom body5-container-right'
            'body5-container-left body5-container-bottom body5-container-right';
    /*-webkit-background-size: 100% 55%;
    -moz-background-size: 100% 55%;
    -o-background-size: 100% 55%;
    background-size: 100% 55%;  
    background-position: right 44%;*/
    /*text-align: center;*/
}

.body5-container-left{ 
    grid-area: body5-container-left;
    /*padding-top: 10%;*/ 
    text-align: left;
}
.body5-container-right{
     grid-area: body5-container-right;
     /*text-align: right;*/
     
    }
.body5-container-top{ 
    grid-area: body5-container-top;
    /*padding-top:28%; 
    font-size: 2em; 
    overflow: hidden;
    transition: height 2s;*/
}
.body5-container-bottom{ grid-area: body5-container-bottom}

.body5-rectangle{
  width: 457px;
  height: 572px;
  object-fit: contain;
  opacity: 0.9;
  background-color: #66799a;
}
.style1_b5{
  margin-top: -30%;margin-left: -40%;
}
.style2_b5{
  margin-left: -70%;margin-top:-71%;
}
.style3_b5{
  margin-left: -69%;margin-top:-70%;
}
.style4_b5{
  margin-top:20%;
}
.style5_b5{
  margin-top:15%;margin-left: 35%;margin-bottom: 2%;
}
.style6_b5{
   margin-left: 15%;
}
.style7_b5{
  margin-top: 5%;
}
.style8_b5{
   margin-top: 45%;
}
.style9_b5{
  margin-top:2%;margin-left: -8%;
}
.style10_b5{
  margin-top: -40%;margin-left: -55%;
}
.style11_b5{
  margin-top: -41%;margin-left: -56%;
}
.pstyle_b5{
  color: #66799a;letter-spacing: 2.1px;text-align: center;font-size: 10px;padding-top: 2%
  }
