.body2-container{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas: 
            'body2-top body2-top body2-top body2-top body2-top body2-top'
            'body2-middle1-left body2-middle1-item1 body2-middle1-item2 body2-middle1-item3 body2-middle1-item4 body2-middle1-right'
            'body2-middle2-left body2-middle2-item1 body2-middle2-item2 body2-middle2-item3 body2-middle2-item4 body2-middle2-right'
            'body2-bottom body2-bottom body2-bottom body2-bottom body2-bottom body2-bottom';
    grid-template-columns: 5% 20% 20% 20% 20% 5%;
    grid-template-rows: 15% 65% 10% 10%;
    /* grid-row-gap: 2%;  */
    grid-column-gap: 2%; 
    text-align: center;
    /* overflow: hidden; */
}

.home-body2-container{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas: 
            'body2-top body2-top body2-top body2-top body2-top body2-top'
            'body2-middle1-left body2-middle body2-middle body2-middle body2-middle body2-middle1-right'
            'body2-middle2-left body2-middle body2-middle body2-middle body2-middle body2-middle2-right'
            'body2-bottom body2-bottom body2-bottom body2-bottom body2-bottom body2-bottom';
    grid-template-columns: 5% 20% 20% 20% 20% 5%;
    grid-template-rows: 15% 65% 10% 10%;
    /* grid-row-gap: 2%;  */
    grid-column-gap: 2%; 
    text-align: center;
    /* overflow: hidden; */
}

.body2-middle{
    grid-area: body2-middle;
    margin: auto
}

.body2-item{
    margin: auto;
    padding: 0.5%
}

.body2-item-footer{
    display: flex;
    margin: auto;
    padding: 5%;
    grid-template-columns: 75% 25%;
    grid-template-rows: 1fr 1fr;
    font-size: 1.166em; 
}


.body2-top{
    /* margin-top:3% !important; */
    margin-bottom:3% !important;
    grid-area: body2-top;
    text-align: center; 
    font-size: 24px;
    font-weight: bold;
    color: #4A4A4A;
    margin: auto
}


.body2-middle1-left{
    grid-area: body2-middle1-left;
    margin: auto
}

.body2-middle1-right{
    grid-area: body2-middle1-right;
    margin: auto
}

.body2-middle1-item1{
    grid-area: body2-middle1-item1;
}

.body2-middle2-left{
    grid-area: body2-middle2-left;
}

.body2-middle2-right{
    grid-area: body2-middle2-right;
}

.body2-middle2-item1{
    grid-area: body2-middle2-item1;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 1fr 1fr;
    font-size: 1.166em; 
}

.body2-middle2-item2{
    grid-area: body2-middle2-item2;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 1fr 1fr;
    font-size: 1.166em; 
}
 
.body2-middle2-item3{
    grid-area: body2-middle2-item3;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 1fr 1fr;
    font-size: 1.166em; 
}

.body2-middle2-item4{
    grid-area: body2-middle2-item4;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 1fr 1fr;
    font-size: 1.166em; 
}
.body2-bottom{
    grid-area: body2-bottom;
    margin-top: auto    
}
.pdng_top{
    padding-top:0.5em;
}
.body2_style1{
    text-align:left;
    padding-top:0.5em; 
}
.body2_style2{
    text-align:right;
    padding-top:0.5em; 
}

.animation-body2-items{
    opacity: 1;
    transition: opacity 1s, transform .9s cubic-bezier(.165,.84,.44,1);
}
.margin-btn-body2{
   margin-left: 80%;
   margin-top: 5%;
}
.style_prod{
    height: 1px;border: solid 1px #cbcaca;margin-top: 5%;
}