/* inline css */


#top-left-animation-back{
    position: absolute; -webkit-transition: width 2s; transition: width 2s
}

#top-left-animation-front{
    position: absolute; margin-left: 2%; margin-top: 2%
}

.button-body{
    position: absolute; margin-top: -20%; margin-left:27.5% 
}

.button-body1{
    position: absolute; margin-top: 100%; margin-left:24% 
}

#top-right-animation-back{
    position: absolute; margin-left:1%; margin-top: 28%
}

#top-right-animation-front{
    position: absolute; margin-left:-2%; margin-top:25%
}
/* inline css */



.body1-container{   
    margin-top:2%;
    width: 100%;
    height: 150vh;
    display: grid;
    grid-template-rows: 20% 45% 10% 25%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
            'body1-container-left body1-container-top body1-container-right'
            'body1-container-left body1-container-middle1 body1-container-right'
            'body1-container-left body1-container-middle2 body1-container-right'
            'body1-container-left body1-container-bottom body1-container-right';
    background: url("../img/group-11.jpg") no-repeat center center;
    -webkit-background-size: 100% 55%;
    -moz-background-size: 100% 55%;
    -o-background-size: 100% 55%;
    background-size: 100% 55%;  
    background-position: right 44%;
    text-align: center;
}

.body1-container-left{ 
    grid-area: body1-container-left;
    padding-top: 10%; 
    text-align: left;
}
.body1-container-right{
     grid-area: body1-container-right;
    }

.margins_body1{
    margin-bottom:3%;
}
.padding_body1{
    padding: 2% 7.5%;
}

.body1-container-top{ 
    grid-area: body1-container-top;
    padding-top:28%; 
    font-size: 2em; 
    font-weight: bold;
    overflow: hidden;
    transition: height 2s;
}
.body1-container-bottom{ grid-area: body1-container-bottom}
.body1-container-middle1{
     grid-area: body1-container-middle1;
     /* background:linear-gradient(0deg,rgba(0,0,0,0.1),rgba(0,0,0,0.1))  */
    }
.body1-container-middle2{ 
    grid-area: body1-container-middle2;
}


.animation-start-left-front{
    -webkit-animation: left-animation-front 5s infinite; 
    animation: left-animation-front 5s infinite;
    animation-delay: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes left-animation-front {
    from {}
    to {transform-origin: 0px 1190px; transform: scale(0.89); opacity:0.8}
}

@-webkit-keyframes left-animation-front {
    from {}
    to {transform-origin: 0px 1190px; transform: scale(0.89);}
}

.animation-start-left-back{
    -webkit-animation: left-animation-back 5s infinite; 
    animation: left-animation-back 5s infinite;
    animation-delay: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes left-animation-back {
    from {}
    50% {padding-top:20%; opacity:0.4;transform:scaleX(1)}
    to {padding-top:20%; opacity:0.4;transform:scaleX(1.1) }
}

.animation-start-right-front{
    -webkit-animation: right-animation-front 5s infinite; 
    animation: right-animation-front 5s infinite;
    animation-delay: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes right-animation-front {
    from {}
    to { transform-origin: 0px -1400px;transform: scale(0.89);}
}

@-webkit-keyframes right-animation-front {
    from {}
    to { transform-origin: 0px -1400px;transform: scale(0.89);}
}

/* @keyframes right-animation-front {
    from {}
    to { transform-origin: 620px -1400px;transform: scale(0.89);}
}

@-webkit-keyframes right-animation-front {
    from {}
    to { transform-origin: 620px -1400px;transform: scale(0.89);}
} */


.animation-start-right-back{
    -webkit-animation: right-animation-back 5s infinite; 
    animation: right-animation-back 5s infinite;
    animation-delay: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes right-animation-back {
    from {
        margin-top: 28%
    }
    50% {
        margin-top:4%; opacity:0.4
    }
    to {
        margin-top:4%; opacity:0.4; margin-left:5%; transform: scaleX(1)
    }
}

/* .animation-start-right-back{
    -webkit-animation: right-animation-back 2.5s infinite; 
    animation: right-animation-back 2.5s infinite;
    animation-delay: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes right-animation-back {
    from {}
    to {transform-origin: 400px -2450px; opacity:0.8; transform: scale(0.920);}
} */

/* Safari 4.0 - 8.0 */
/* @-webkit-keyframes left-animation-back {
    from {}
    to {transform-origin: 0px 2000px; opacity:0.8; transform: scale(0.920);}
} */

.animation-body1-header{
    -webkit-animation: animation-body1-header 5s infinite; 
    animation: animation-body1-header 5s infinite;
    animation-delay: 0.1s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes animation-body1-header {
    from {padding-top: 28%;}
    to {padding-top: 18%}
}
.no-padding{
    padding-right: 0px;
    padding-left: 0px;
}

.img1_b1{
    width: 80%;
    height: 80%;
}

.back_img1_b1{
    width: 80%;
    height: 80%;
}

.img2_b1{
    width: 80%;
    height: 80%;
    float: right;
}

.back_img2_b1{
    width: 80%;
    height: 80%;
    float: right;
}

.div_right_b1{
    margin-left:10%;
    margin-top: 60%;
}

#button_anim_parallax{
    margin-top: 20%;
}

.body1-container-anim{
    margin-top:15%;
}
