.campignlooks-landing-box{
    height: 450px;
    border: solid 1px #979797;
    background-blend-mode: overlay;
    background-color:black;
    position:relative;
}

.campignlooks-landing-img{
    height:100%;
    width:100%;
}

.campignlooks-absolute{
    position: absolute !important;
    top:0;
    height:100%;
    width:100%;
}

.campignlooks-landing-heading{
    font-size: 35px;
    font-weight: bold;
    line-height: 1.29;
    letter-spacing: -0.6px;
    color: #ffffff;
}

.campignlooks-landing-text{
    font-family: NunitoSans;
    font-size: 14px;
    line-height: 1.71;
    color: #ffffff;
}

.campignlooks-landing-recatangle{
    width: 152px;
    height: 22px;
    background-color: #ffffff;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 2.1px;
    color: #66799a;
    text-align: center;
    padding-top:1%;
}

.campignlooks-camp-top-box1{
    width: 70%;
    height: 704px;
    vertical-align:middle;
    position:relative;
    min-height:400px;
}

.campignlooks-camp-top-box2{
    width: 30%;
    height: 507px;
    position:relative;
    vertical-align:middle;
}

.campignlooks-left-camp-imgbox{
    left: 0;
    /* margin-right: 22%; */
    margin-top: 0;
}

.campignlooks-left-camp-imgbox1{
    /* left: 0; */
    /* margin-right: 24%; */
    margin-top: 0;
    width: 70%;
    height: 704px;
    vertical-align:middle;
    /* min-height:400px; */
    position:relative;

}

.campignlooks-right-camp-imgbox {
    right: 0;
    margin-left: -1%;
    margin-top: -9%;
}

.campignlooks-right-camp-imgbox2{
    /* right: 0; */
    margin-right: -3%;
    margin-top: -5%;
    width: 30%;
    height: 507px;
    vertical-align:middle;
    position:relative;
}

.campignlooks-z-index{
    z-index: 1 !important;
}

.campignlooks-landing-margin-left{
    margin-left:5%;
}

.campignlooks-btn{
    width: 160px;
    height: 40px;
    border: solid 1px #c1a67f;
    background-color: transparent !important;
    border-radius: 0%;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 0px;
    text-align: center;
    color: #c1a67f;
}

.campignlooks-btn-line{
    height: 2px;
    display:inline-block;
    width:20px;
    background-color:#c1a67f;
    color: #c1a67f;
    vertical-align:middle;
    margin-left: 8%;
 }


.campignlooks-circle-btn{
    width: 33px;
    height: 33px;
    border-radius: 100%;
    background-color: #ffffff;
    box-shadow: 0 0 14px 0 rgba(255, 255, 255, 0.5);
    color:#4a4a4a;
    font-size:18px;
    font-weight:bold
}

.campignlooks-circle{
    margin-top: -40%;
    margin-left: 30%;
    width: 41px;
    height: 41px;
    border-radius: 100%;
    box-shadow: 0 0 14px 0 rgba(255, 255, 255, 0.5);
    border: solid 1px #ffffff;
}

.campignlooks-bottom-btn1-margin{
    margin-top: -35%;
    margin-left: 60%;
}

.campignlooks-bottom-btn2-margin{
    margin-top: 12%;
    margin-left: 6%;
}

.campignlooks-shopthislook-div{
    border-bottom: solid 1px #3a4664;
    z-index:-1;
    margin-top: 25%;
    text-align: right;
}

.campignlooks-shopthislook-div a{
    font-size: 14px !important;
    font-weight: 900 !important;
    color: #4a4a4a !important;
    cursor: pointer;
}

.campignlooks-shopthislook-div2{
        /* border-bottom: solid 1px #3a4664; */
        z-index: -66;
        /* margin-top: 20%; */
        /* margin-left: 22%; */
        padding-left: 15%;
        padding-right: 10%;
        text-align: left;
        position: absolute;
        width: 100%;
}

.campignlooks-shopthislook-div2 a{
    display: block;
    border-bottom: solid 1px #3a4664;
    font-size: 14px !important;
    font-weight: 900 !important;
    color: #4a4a4a !important;
    cursor: pointer;
    width: 100%;
}
