.no-padding{
	padding-right: 0% ! important;
	padding-left: 0% ! important;
}

.cart-main-container{
    padding-top:80px !important;
}

.cart-padding-patment{
    padding-top: 2% !important;
}

.cart-heading-text{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

.cart-heading-subtext{
    font-size: 14px;
    color: #ffffff;
}

.cart-heading-center{
    text-align:left;
}

.cart-border{
    border: none !important;
    border-right: solid 1px #dee2e6 !important;
}

.cart-img{
	background:url('../img/cart_header.png') no-repeat center center;
    height: 768px;
    background-blend-mode: overlay;
    background-color: rgba(0,0,0,0.6);
    background-size:100% 100%;
}
.wishlist-img{
	background:url('../img/wishlist_bg.png') no-repeat center center;
    height: 768px;
    background-blend-mode: overlay;
    background-color: rgba(0,0,0,0.6);
    background-size:100% 100%;
}
.cart-img-opacity{
	background:rgb(10,10,10,0.5);
	height: 768px;
}

.cart-table-header{
    font-size: 14px;
    color: #4a4a4a;
    font-weight: bold;
}

.cart-tr-border{
    border-bottom: solid 0px #ffffff;
}

.cart-item-name{
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #4a4a4a;
}

.cart-item-remove{
    font-size: 9px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #d0021b;
    cursor:pointer;
}

.cart-item-qty{
    border-radius: 0%; 
    width: 41px;
    height: 40px;
    background-color: #fafafa;
    border: solid 1px #eaeaea;
}
.cart-item-inr{
    color: #4a4a4a;
    font-weight:500;
    font-size: 19px;
}

.cart-right-rectangle{
    /* width: 26%; */
    height: 313px;
    background-color: #ffffff;
    border: solid 1px #cbcbcb;
    /* margin-left: 6%; */
}

.cart-payment-margin{
    margin-left: 2%;
}

.cart-right-rectangle-text{
    font-size: 14px;
    font-weight: 900;
    letter-spacing: -0.2px;
    color: #4a4a4a;
}

.cart-remove-btn-padding{
    padding-left: 2%;
}

.cart-checkout-btn{
    /* margin-left: 2%; */
    padding-top:1%;
    height: 45px; 
    background-color: #3a4664;
    border-color: #3a4664;
    border-radius: 0px;
}
.cart-checkout-btn:hover{
    opacity: 0.7;
}
.cart-checkout-btn-text{
    font-size: 12px;
    font-weight: 900;
    color: #ffffff;
    letter-spacing: -0.3px;
    text-align: center;
}

.cart-margin{
    margin-top: 97%;
}

#apply-link{
    color:#4a4a4a;
}

#apply-link:hover{
    color:#0a0a0a;
}

.discount{
  color:#fff;
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
}

.discount_val{
  width: 100%;
  height: 45px;
  border-radius: 3px;
  background-color: #ffffff;
}
.discount_btn{
  margin-left:-25%;
  width: 88.9px;
  height: 45px;
  background-color: #c1a67f;
  color:#fff;
  font-size: 14px;
  font-weight: 500;
  border-radius:0%;
}

.discount-error-message{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0px;
    text-align: center;
    color: red;
}

.discount-success-message{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0px;
    text-align: center;
    color: #8fde37;
}

.discount-here{
    color:white;
    text-decoration: underline !important;
    cursor: pointer;
}

.cart-mobile-container-top{
    border-radius: 1px;
    background-color: #ffffff;
    /* height:231px; */
    box-shadow: -4px 0 9px 0 rgba(154, 153, 153, 0.5);
}

.cart-mobile-container-top-collapse{
    border-radius: 1px;
    background-color: #ffffff;
    height:55px;
    box-shadow: -4px 0 9px 0 rgba(154, 153, 153, 0.5);
    margin-top: 2%;
}

.cart-mobile-container-top-collapse-btn{
    border-radius: 1px;
    background-color: #ffffff;
    height:55px;
    box-shadow: -4px 0 9px 0 rgba(154, 153, 153, 0.5);
    margin-top: 2%;
    font-size: 16px;
    font-weight: 900;
    text-align:left;
    color: #4a4a4a;
}

.cart-mobile-container-top-collapse-btn.collapsed:after{
	text-decoration: none;
	content: '+';
	font-size: 18px;
    font-weight: bold;
    float:right;
	vertical-align: middle;

}

.cart-mobile-container-top-collapse-btn:after{
	text-decoration: none;
    content: '-';
    float:right;
	font-size: 18px;
	font-weight: bold;
	vertical-align: middle;

}

.cart-mobile-items-text{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #4a4a4a;
}

.cart-mobile-price{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #4a4a4a;
}

.cart-mobile-top-container-padding{
    padding-top: 10%;
    padding-bottom: 10%;
    border-bottom: solid 1px #d8d8d8;
}

.cart-mobile-qty-padding{
    padding-top: 15%;
}

.cart-mobile-amt-text{
    font-size: 16px;
    font-weight: 900;
    color: #4a4a4a;
}

.cart-mobile-amt-padding{
    padding-top: 5%;
}

.cart-collapse-bg{
    height: 129px;
    border-radius: 1px;
    background-color: #eeeeee;
}

.cart-mobile-btn{
  font-size: 12px;
  font-weight: 900;
  letter-spacing: -0.3px;
  color: #ffffff !important;
  background-color: #c1a67f;
  height: 45px;
  border-radius:1px;
  margin-top:2%;
  padding-top:2%;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.5);
}

.cart-discount-input{
    height: 45px;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0px;
    text-align: center;
    color: #000000;
}

.cart-discount-btn{
    height: 45px;
    background-color: #c1a67f;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0px;
    text-align: center;
    color: #ffffff;
    padding-top: 2%;
}

.cart-btn-line{
    height: 2px;
    display:inline-block;
    width:20px;
    background-color:#4a4a4a;
    color: #4a4a4a;
    vertical-align:middle;
    margin-left: 8%;
 }
 

 .wishlist-size-options{
    width: 132px;
    height: 40px;
    background-color: #fafafa;
    border: solid 1px #eaeaea;
    font-size: 12px !important;
    font-weight: 500 !important;
    letter-spacing: 0.5px !important;
    color: #4a4a4a !important;
 }

 .wishlist-size-options option{
    font-size: 12px !important;
    font-weight: 500 !important;
    letter-spacing: 0.5px !important;
    color: #4a4a4a !important;
 }

 .wishlist-padding{
    padding-left: 8%;
 }


@media (max-width: 620px) {
    .cart-right-rectangle{
        width: 96%;
        height: 206px;
        margin-left: 0%;
    }

    .cart-margin{
        margin-top: 34%;
    }

    #coupans{
        display: none;
    }
    .cart-checkout-btn{
        padding-top:2%;
        margin-left: 2%;
        width: 91%;
        margin-top:2%;

    }

    .cart-hide{
        display: none !important;
    }

    .cart-heading-center{
        text-align: center;
    }

    .cart-img{
        background:url('../img/cart_header_mobile.png') no-repeat center center;
        background-blend-mode: overlay;
        background-color: rgba(0,0,0,0.4);
    }

    .wishlist-img{
        background:url('../img/wishlist_mobile.png') no-repeat center center;
        background-blend-mode: overlay;
        background-color: rgba(0,0,0,0.4);
    }
}

@media screen and (min-width: 620px){
    .cart-apply{
        display: none;
    }
}