.category-nav-item{
    text-decoration: underline;
    font-family: Nunito;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
}

.modal-backdrop{
  display:none !important;
}

.category-nav-z-index{
  z-index:3 !important;
}

.modal{
  background-color: rgba(0,0,0,0.5);
  
}

.category-nav-item-img{
    margin-left:1%;
}
.display{
  display: block;
}
.hide{
  display: none;
}

.no-padding{
    padding-right: 0% ! important;
    padding-left: 0% ! important;
}

.overflow{
    overflow: hidden;
  }
  
  .galleryImg{
      /* transform-origin: 10% 10%; */
    transition: transform 1s;
      
  }
  
  .overlay {
    position: absolute; 
    bottom: 0; 
    background: rgba(255,255,255,.7); 
    color:#3f3f3f; 
    width: 20%;
    transition: 1s ease;
    opacity:0;
    font: 1.4rem/1.36 "Playfair Display",serif;
    padding: 20px;
    text-align: center;
    margin-bottom:-30%;
  }
  
  .overflow:hover .overlay {
    opacity: 1;
  }
  .overflow:hover .galleryImg {
    transform: scale(1.1);
  }

.body-rectangle{
    margin-left: 50%;
    margin-top: -40%; 
    width: 637px;
    height: 554px;
    opacity: 0.9;
    background-color: #532720;
}

.category-nav-text{
  font-family: Avenir;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline !important;
  padding-top: 5px;
  padding-left: 20px;
  color: #ffffff;
}

.filter-row a:hover{
  color:#ffffff;
}

.carousel-btn-line{
  height: 2px;
  display:inline-block;
  width:20px;
  background-color:#3a4664;
  color: #3a4664;
  vertical-align:middle;
  /* margin-left: 5px; */
  margin-left: 8%;
}


/* .category-nav-text img{
  padding-left:1%;
} */

.category-top-padding{
  padding-top: 4%;
}

.category-items-bottom-padding{
  padding-bottom: 4%;
}

.category-box .product-height {
  height:420px;
}

/* .category-box .padding-left{
  padding-left:3% !important;
  padding-right: 3% !important;
} */

.category-box .product-height img{
  height:100%;
}

.category-all-items-margin{
  margin-left: 1% !important;
}

.card-button {
  position: absolute;
  bottom:32px;
  text-align: center;
  display:block;
  left:0;
  right: 0;
  width:144px;
  height:40px;
  margin:auto;
  background-color: #ffffff;
  box-shadow: 0 0 7px 0 rgba(129, 129, 129, 0.5);
  opacity: 0;
  transition: opacity .35s ease;
  border-radius:0%;
}

.card-button span {
  font-family: Nunito;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: -0.3px;
  color: #3a4664;
}

.product-height:hover .card-button {
  opacity: 1;
}

.category-image{
  z-index: 0;
}

.category-image-text{
  padding-top:10%;
  position: absolute;
  text-align: center;
}

.category-main-heading{
  font-family: PlayfairDisplay;
  font-size: 74px;
  font-weight: 900;
  color: #ffffff;
}

.category-image-top-margin{
  margin-top:0%
}

.category-container-margin-top{
  margin-top:2%;
}

.filter-container{
  margin: auto;
  padding-left:0;
}

.filter-row{
  padding: 10px;
}

.padding-cat{
  padding-left: 20px;
}

.filter-heading{
  padding-top: 6px;
}

.filter-heading img{
  margin-left: 5px;
}
.category-filter-btn-container{
  margin-right: 0px;
  margin-left: auto;
}

.category-filter-collapse {
  z-index:5;
  top:50px;
  position: absolute;
  width:100%;
}

.category-filter-bg{
  background-color: #5c4a30;
}

.category-filter-collapse .category-filter-bg{
  width:100%;
}

.category-filter-text{
  font-family: Nunito;
  font-size: 12px;
  font-weight: 900;
  color: #ffffff;
}

.category-filter-text-radio{
  font-family: Nunito;
  font-size: 12px;
  color: #ffffff;
}

.category-filter-radio-btn{
  width: 12px;
  height: 12px;
  border: solid 1px #c0c0c0;
  border-radius: 100%;
  background-color:transparent;
}

.category-filter-btn{
  height: 100%;
  width: auto;
  padding: 10px 15px;
  background-color: rgb(107, 87, 59);
  border: 1px solid #ccc;
}

.category-filter-col{
  display: inline-block;
  padding:1%;
}


.checkbox-container {
  display: block;
  position: relative;
  padding-left: 18px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input.radio-btn {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}


/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  border: solid 0.8px #c0c0c0;
  background-color: transperent;
  border: solid 1px #c0c0c0;
}



/* When the checkbox is checked, add a blue background */
.checkbox-container input.radio-btn:checked ~ .checkmark {
  background-color: transperent;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input.radio-btn:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 3px;
  top: 1px;
  width: 5px;
  height: 7px;
  border: solid;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  color: white;
}

.radio-container {
  display: block;
  position: relative;
  padding-left: 18px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.radio-container input.radio-btn {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark-btn{
  border-radius: 100% !important;
}
/* When the checkbox is checked, add a blue background */
.radio-container input.radio-btn:checked ~ .checkmark {
  background-color: transperent;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.radio-container input.radio-btn:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.radio-container .checkmark:after {
  left: 2px;
  top: 2px;
  width: 5px;
  height: 5px;
  border: solid;
  border-radius:100%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  color: white;
}

.category-filter-col-mobile-1{
  width:30%;
  display:inline-block;
  vertical-align: middle;
}

.category-filter-margin{
  padding:3%;
  border-bottom: solid 1px #fff;
}

.category-filter-col-mobile-2{
  width:70%;
  display:inline-block;
  vertical-align: middle;
}

@media screen and (max-width: 620px) {
  .body-rectangle{
    margin-left: 0%;
    margin-top: -10%; 
  }

  .category-nav-item{
    font-size: 13px;
  } 

  #popularity{
    margin-left:-35%;
  }

  #hidden_br{
    display:none;
  }

  .category-image-text{
    padding-top:0%;
    margin-top: -50%;
  }

  .category-image-top-margin{
    margin-top:2%
  }

  .category-main-heading{
    font-family: PlayfairDisplay;
    font-size: 48px;
    font-weight: 900;
    color: #ffffff;
  }

  .category-img-height{
    height:350px !important;
  }

  .category-container-margin-top{
    margin-top:18%;
  }

  .mobile-no-padding{
    padding-left:0%;
    padding-right:0%;
  }

  .mobile-no-margin{
    margin-left:0%;
    margin-right:0%;
  }
}

@media (min-width:620px){
  .hide_nav{
    display: none;
  }
}
.selectStyle{
  width:120px;
  height:20px;
  border:none;
  background-color: rgb(107, 87, 59);
  border-bottom: solid 1px #fff;
  color:white;
}


.category-background-color{
  background-color: #fff;
}

.category-nav-background-color{
  height: 50px;
  background-color: #6b573b;
  padding-right:0%;
  position:absolute;
}

.category-mobile-nav-text{
  font-family: Nunito;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: underline;
}

.category-item-name{
  font-family: Nunito;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.1px;
  color: #4a4a4a;
}
.category-item-rs{
  font-size: 12px;
  color: #9b9b9b;
}

.category-item-price{
  font-family: Nunito;
  font-size: 14px;
  letter-spacing: -0.3px;
  color: #4a4a4a;
}

.category-item-size{
  font-family: Nunito;
  font-size: 14px;
  letter-spacing: -0.1px;
  color: #4a4a4a;
}

.category-item-padding{
  padding-top: 3%;
  padding-bottom: 3%;
}

.modal-img{
  display: inline-block;
  width:308px;
}

.modal-img img{
  height:413px !important;
  width:308px !important;
}

.modal-info{
  display:inline-block;
  width:430px;
  padding-left:4% !important;
  padding-right:4% !important;
  padding-top:5%
}

.modal-bg-color{
  background-color: #f7f1f3;
  width:740px !important;
}

.modal-item-name{
  font-family: PlayfairDisplay;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #4a4a4a;
}

.modal-item-currency{
  font-family: Nunito-Roman;
  font-size: 12px;
  color: #9b9b9b;
}

.modal-item-price{
  font-family: Nunito;
  font-size: 22px;
  font-weight: 900;
  letter-spacing: -0.4px;
  text-align: center;
  color: #4a4a4a;
}

.modal-item-desc{
  font-family: NunitoSans;
  font-size: 12px;
  letter-spacing: -0.1px;
  color: #4a4a4a;
}

.modal-heading-height{
  height:0px;
  border:none !important;
  padding:0;
}

.modal-cross{
  width: 27px;
  height: 27px;
  background-color: #ffffff !important;
  box-shadow: 0 0 4px 0 rgba(166, 166, 166, 0.5) !important;
  border-radius:100%;
  margin-top:-2% !important;
  margin-right:-2% !important;
  padding:0% !important;
  opacity: 1 !important;
}

.modal-body-padding{
  padding:0% !important;
}

.modal-border{
  border-bottom: solid 1px #cbcaca;
}

.modal-size-text{
  font-family: NunitoSans;
  font-size: 14px;
  letter-spacing: 0px;
  color: #4a4a4a;
}
.modal-next-item-link{
  font-family: NunitoSans;
  font-size: 11px;
  letter-spacing: 0px;
  color: #4a4a4a;
}

.modal-add-to-wishlist-btn{
  background-color: transparent !important;
}

.modal-link-padding-top{
  padding-top: 20%;
  text-decoration: underline;
}
.modal-size-text-inner{
  font-family: NunitoSans;
  letter-spacing: -0.1px;
  font-size: 16px;
  color: #4a4a4a;
}

.modal-color-margin{
  margin-top: 7%;
}

.modal-size-circle{
  width: 26px;
  height: 26px;
  border-radius: 100%;
  border: solid 1px #414041;
}

.modal-size-text-padding{
  padding-left: 3%;
}

.modal-size-margin{
  margin-right: 6%;
}

.modal-color-box{
  width: 20px;
  height: 20px;
  border-radius:100%;
  background-color: #96b176;
  margin: auto;
  margin-top:7%
}
@media(max-width: 420px){
  .category-filter-btn{
    border-color: transparent;
  }
}
