.no-padding{
	padding-right: 0% ! important;
	padding-left: 0% ! important;
}


.checkout-guest-btn-margin{
    margin-top:110%;
}

.checkout-final-summary-text{
    font-size: 14px;
    font-weight: 900;
    color: #4a4a4a;
}

.checkout-final-summary-right-text{
    font-size: 14px;
    font-style: oblique;
    color: #9b9b9b;
}

.checkout-product-text{
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #4a4a4a;
}

.checkout-product-price{
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 0px;
    color: #4a4a4a;
}

.checkout-product-qty{
    font-size: 10px;
    font-weight: 900;
    color: #4a4a4a;
}
.checkout-shipping-text{
    font-size: 10px;
    color: #9b9b9b;
}

.checkout-shipping-text-subscript{
    font-size: 14px;
    font-weight: 900;
    color: #4a4a4a;
}

.checkout-shipping-radio-text{
    font-size: 12px;
    font-weight: 900;
    color: #4a4a4a;
}
.checkout-shipping-price{
    font-size: 12px;
    font-weight: 900;
    text-align: right;
    color: #4a4a4a;
}
.checkout-shipping-text-padding{
    padding-top: 3%;
    padding-bottom: 2%;
}

.checkout-img{
	background:url('../img/checkout_bg.png') no-repeat center center;
    height: 768px;
    background-size:100% 100%;
    background-blend-mode: overlay;
    background-color: rgba(0,0,0,0.6);
}

.checkout-big-img{
	background:url('../img/checkout_bg1.png') no-repeat center center;
    height: 1042px;
    background-size:100% 100%;
    background-blend-mode: overlay;
    background-color: rgba(0,0,0,0.6);
}
.cart-img-opacity{
	background:rgb(10,10,10,0.5);
	height: 768px;
}

.checkout-img-opacity{
	background:rgb(10,10,10,0.5);
	height: 1042px;
}

.checkout-border-right{
    border-right: solid 2px #979797 ;
}


.checkout-heading{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

.checkout-heading-subscript-text{
    font-size: 14px;
    color: #ffffff;
}

.checkout-active-text{
    font-size: 16px;
    font-weight: 900;
    color: #ffffff;
    text-decoration:underline;
}

.checkout-other-text{
    font-size: 16px;
    font-weight: 500;
    color: #989898;
}

.checkout-box{
    background-color:#ffffff;
    margin-left:-2%
}

.checkout-payment-box{
    background-color:#ffffff;
    padding-bottom:14%;
}

.checkout-margin{
    margin:3%;
}

.checkout-right-border{
    border-right:solid 1px #979797;
}

.checkout-top-text{
    font-size: 14px;
    color: #ffffff;
}

.checkout-heading-margin{
    margin-left: -2%;
}

.checkout-box-top-text{
    font-size: 12px;
    letter-spacing: 0px;
    color: #4a4a4a;
}

.checkout-input-box{
    height: 40px;
    background-color: #fafafa;
    border: solid 1px #eaeaea;
    border-radius:0%;
}

.checkout-input-label{
    font-size: 14px;
    letter-spacing: 0px;
    color: #4a4a4a;
}
.checkout-radio-text{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #4a4a4a;
}

.checkout-radio-subscript-text{
    font-size: 12px;
    color: #9b9b9b;
    margin-left:5%;
}


.checkout-process-text{
    font-size: 16px;
    font-weight: 900;
}

.checkout-guest-label{
    font-size: 14px;
    letter-spacing: 0px;
    color: #4a4a4a;
}

.checkout-btn{
    height: 40px;
    background-color: #ffffff;
    border: solid 1px #53432b;
    border-radius: 0%;
}

.checkout-btn-text{
    font-size: 12px;
    font-weight: 900;
    letter-spacing: -0.3px;
    color: #53432b;
}

.checkout-guest-input{
    height: 40px;
    background-color: #fafafa;
    border: solid 1px #eaeaea;
    border-radius: 0%;
}

.color-4a4a4a{
    color:#4a4a4a;
}

.font-10{
    font-size:10px ! important;
}

.font-12{
    font-size:12px ! important;
}
.bold-500{
    font-weight: 500 ! important; 
}
.color-white{
    color: #ffffff;
}

.color-transperent{
    color:#989898;
}

.text-decoration-underline{
    text-decoration: underline;
}

.checkout-menu-btn{
    height: 45px;
    background-color: #ffffff;
    border-color: #4a4a4a;
    border-radius: 0px;
    margin-top:2%;
    padding-top:4%;
}
.checkout-menu-btn-text{
    font-size: 14px;
    font-weight: 900;
    color: #4a4a4a;
    letter-spacing: -0.3px;
    text-align: center;
}

.checkout-guest-checkbox-text{
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.1px;
    color: #4a4a4a;
}

.checkout-guest-checkbox{
    height: 16px ! important;
    width: 16px ! important;
}

.checkout-guest-text{
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.1px;
    color: #4a4a4a;
}

.checkout-guest-btn{
    height: 40px;
    background-color: #ffffff;
    border: solid 1px #4a4a4a;
    border-radius: 0%;
}

.checkout-guest-btn-text{
    font-size: 12px;
    font-weight: 900;
    letter-spacing: -0.3px;
    color: #4a4a4a;
}

.checkout-guest-bottom-btn{
    height: 43px;
    background-color: #c1a67f;
    border-radius: 0%;
}

.checkout-guest-bottom-btn-text{
    font-size: 12px;
    font-weight: 900;
    letter-spacing: -0.3px;
    color: #ffffff;
}

.checkout-guest-btn-margin-right{
    margin-right:-7% ! important;
}

.margin{
    margin-left:2%;
}

.checkout-margin1{
    margin-left:2%;
}

.margin-btn{
    margin-left:74%;
}

.checkout-final-summary-img{
    width: 50px;
    height: 75px;
}

.checkout-btn-line{
    height: 2px;
   display:inline-block;
   width:20px;
   background-color:#6b573b;
   color: #6b573b;
   vertical-align:middle;
   margin-left: 8%;
}

.checkout-left-btn-margin{
    margin-top: 15%;
    margin-bottom: 15%;
}

.checkout-payment-items-box{
    height:200px;
    overflow-y:auto;
}

.checkout-radio-margin{
    margin-right:2%;
}

.checkout-payment-heading-text{
    font-size: 12px;
    letter-spacing: 0px;
    color: #4a4a4a;
}

.checkout-payment-icon-box{
    height: 109px;
    border-radius: 3px;
    background-color: #fafafa;
    margin-right:4%;
    box-shadow: 0 0 6px 0 rgba(160, 160, 160, 0.5);
    text-align:center;
}

.checkout-payment-container-margin{
    margin-top:3%;
    margin-bottom:10%;
}

.checkout-payment-img-padding{
    padding-top: 18%;
}

.checkout-payment-text{
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0px;
    text-align: center;
    color: #4a4a4a;
}

.checkout-login-text{
    font-size: 18px;
    font-weight: 900;
    letter-spacing: -0.3px;
    color: #4a4a4a;
    padding-top:2%;
    padding-bottom:2%;
}


@media screen and (max-width: 620px) {
    #none{
        display: none;
    }

    .margin{
        margin-left:-2%;
        margin-top:2%
    }

    .checkout-margin1{
        margin-left:0%;
        margin-top:2%
    }

    .margin-btn{
        margin-left:11%;
    }
    
    .checkout-big-img{
        background:url('../img/checkout_mobile_bg.png') no-repeat center center;
        height: 1454px;
        background-size:100% 100%;
        background-blend-mode: overlay;
        background-color: rgba(0,0,0,0.3);
    }

    .checkout-mobile-none{
        display:none !important;
    }

    .padding-mobile{
        padding-right:15px !important;
        padding-left: 15px !important;
    }

    .mobile-no-padding{
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    .checkout-box{
        margin-left:0%
    }

    .checkout-top-box-active{
        height: 63px;
        width:31% !important;
        border-radius: 1px;
        background-color: #c1a67f;
        border: solid 1px #ffffff;
        text-align:center;
        font-size: 14px;
        font-weight: 900;
        line-height: 1.21;
        color: #ffffff;
        padding:4%;
        display: inline-block;
    }

    .checkout-top-box{
        height: 63px;
        width:31% !important;
        border-radius: 1px;
        background-color: rgba(255, 255, 255, 0.56);
        text-align:center;
        font-size: 14px;
        font-weight: 900;
        line-height: 1.21;
        color: #ffffff;
        padding:4%;
        display: inline-block;

    }

    .checkout-top-box-margin{
        margin-right: 3%;
        margin-left: 3%;
    }

    .checkout-guest-text{
        font-size: 18px;
        font-weight: 900;
        letter-spacing: -0.3px;
        color: #4a4a4a;
        padding-top:2%;
        padding-bottom:2%;
    }

    .checkout-modal-paybleamt-box{
        height: 70px;
        border-radius: 1px;
        background-color: #eeeeee;
    }
}

@media screen and (min-width: 620px){
    .checkout-web-none{
        display:none !important;
    }
}