.email{
	background-color:rgba(0, 0, 0, 0);
	width:50%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border:none;
	/* border-bottom:1px solid #fff; */
}

input::placeholder {
 letter-spacing: -0.2px;
  text-align: left;
  color: #ffffff;
  font-size: 18px;
}

.home-footer{
    position:fixed;
    bottom:0;
    padding-right:0px;
    margin-left:0px;
	visibility: hidden;
	z-index: -1;
}

.home-footer-visible{
    visibility: visible !important;
}

#home-footer-visibility-start{
	height: 320px;
}

.foot_head{
	z-index:100;
	background: url('../img/footer-img1.png') no-repeat;
	background-size:100%;
	background-blend-mode: overlay;
	background-color: rgba(0, 0, 0, 0.5);
	height:417px;
	/* margin-bottom:75px; */
	position: relative;
}

.ht_val{
	height: 179px;
}

.ht_alter{
	/* margin-top:150px; */
	height: 245px;
}

.padng_footer{
	padding-top: 20%;padding-left:10%;
}

.list1_foot{
	font-size: 18px;text-align:left;color: white; letter-spacing: -0.2px;
}

.list2_foot{
	font-size: 42px;font-weight: bold;letter-spacing: 0.6px;text-align: left;color: white;
}

.padding_2_footer{
	padding-left: 87px;padding-top: 14px;
}

.margins_img_foot{
	margin-bottom: 2.5%;
}

.btn-1{
	border:1px solid #fff;border-radius: unset; padding: 11px ;margin-left: -4px;
}

.list_foot1{
	padding-top:10%; padding-right: 15%;font-family: 'Nunito Sans';font-size: 12px;letter-spacing: normal;text-align: right;color: #a9a5a4;text-transform: uppercase
}

.footer-li-padding{
	padding-bottom: 10px;
	color:#a9a5a4 !important;
}

.icon-color-white{
	color:#a9a5a4 !important;
}

.footer-icons-div-margin{
	margin-top:5px;
	margin-bottom:5px;
}

.footer-padding{
	margin-right: 6% !important;
}

.footer-paaing-top{
	padding-top: 10px !important;
}



.footer-inner-container{
	padding-top:20px;
}

.newsletter-box{
margin:0;
position: absolute;
bottom: 0;
left: 0;
width: 100%;
}

.newsletter-box div {
	display: inline-block;
	vertical-align: top;
}

.newsletter-container{
	position: relative;
	/* height: 100%; */
	padding-top: 8%;	
}

.footer-submit-btn{
	width: 135px;
	height: 46px;
	background-color: #3a3a3a;
	border-radius:0%;
	font-size: 12px;
	font-weight: 900;
	letter-spacing: -0.3px;
	color: #ffffff;
}

.email-form{
	padding: 0;
	width: 641px;
}

.triangle{
	width: 30px;
	height: 30px;
	background-color: #3a3a3a;
	margin-left: -15px;
	margin-right: 100px;
	margin-top: 50px;
	transform: rotate(45deg);
}

.email-form form{
	border-bottom: 1px solid white;
}

.email-form-padding{
	padding-top: 6%;
}

.email-form form input {
	margin: 0;
	width: 505px;
	font-size: 16px;
	caret-color: white;
}

.email-form form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: white !important;
	font-size: 16px !important;
  }
  .email-form form input::-moz-placeholder { /* Firefox 19+ */
	color: white !important;
	font-size: 16px !important;
  }
  .email-form form input:-ms-input-placeholder { /* IE 10+ */
	color: white !important;
	font-size: 16px !important;
  }
  .email-form form input:-moz-placeholder { /* Firefox 18- */
	color: white !important;
	font-size: 16px !important;
  }

  #home-footer-animation-block{
	visibility:hidden;
	position:fixed; 
	bottom:0; 
	padding-left:0px;
	padding-right:0px;
	z-index:0;
  }

  .footer_1{
	  float: right;
	  margin-right: 50px;
  }

  .collapsible-footer button{
	  color: white;
	  width: 100%;
	  height: 100%;
	  text-align: left;
	  font-family: 'Nunito Sans';
	  font-size: 14px;
	  font-weight: 500;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: normal;
	  letter-spacing: -0.1px;
	  text-transform: uppercase;
	  vertical-align: middle;
  }

  .collapsible-footer button:hover{
	color: white;
	}

.collapsible-footer .card{
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #ffffff;
}

.collapsible-footer .card-header{
	border-radius: 0;
	background-color: #6b573b;
	padding: 10px;
	text-transform: uppercase;
}

.collapsible-footer ul{
	margin: 0;
	padding-top:10px;
}

.collapsible-footer ul li{
	padding:0 10px 10px 10px;
	text-transform: none;
}

.collapsible-footer .btn.collapsed:after{
	text-decoration: none;
	content: '+';
	font-size: 18px;
	font-weight: bold;
	vertical-align: middle;
}

.collapsible-footer h5{
	vertical-align: middle;
	width:90%;
	font-size: 14px;
	display:inline-block;
}

.collapsible-footer .btn-link{
	text-decoration: none;
}

.collapsible-footer .btn:after{
	text-decoration: none;
	content: '-';
	font-size: 18px;
	font-weight: bold;
	vertical-align: middle;
}

.footer-social-media-section{
	color: #6b573b;
	border-top: 1px solid #6b573b;
}

.footer-social-media-header{
	padding: 10px;
	width: 100px;
	margin-top: -20px!important;
	background-color: white;
	margin-left: auto!important;
	margin-right: auto!important;
}

.footer-social-media-buttons{
	font-size: 28px;
	padding-bottom:20px;
	text-align:center;
}

.footer-social-media-buttons a{
	color: #6b573b !important;
}

.footer-social-media-buttons i {
	margin: 10px 20px;
}

@media(max-width:420px){
	#home-footer-visibility-start{
		display: none;
	}
	#home-footer-animation-block{
		position:relative; 
		visibility: visible;
		z-index:0;
	  }

	#product-footer{
		z-index: 0;
		position: relative;
		margin-top: 20px;
		visibility: visible;
	}  

	.footer_bg2{
		background-color: #53432b;
		padding: 10px;
	}  
	
	.footer_end{
		margin: 0;
		font-family: 'Nunito Sans';
		font-size: 10px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: 1.7px;
		text-align: center;	  
		color: #ffffff;
	}

	.footer_listing{
		color: #6b573b;
		font-family: 'Nunito Sans';
		font-size: 14px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: 0px;
		text-align: left;
		width: 100%;
		padding: 0;
	}
}

@media(min-width:1920px){
	.foot_head{
		height:537px;
	}

	#home-footer-visibility-start{
		height: 350px;
	}
	
}

@media (min-width:1280px) and (max-width:1285px){
	.foot_head{
		height:390px;
	}
}