a {
    text-decoration: none !important;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.links_head{
    margin-top:2%;
    margin-left:-0.5%;
    text-align:left;
}

.header-container{
    width: 100%;
    height: 15vh;
    display:grid;
    grid-template-areas: 
        'header-item-left header-item-centre header-item-right';
    grid-template-columns: 12% 1fr 12%;
    text-align: center;
    font-size: 1em;
    color: #ffffff;
}

.header-item-left{
    grid-area: header-item-left;
    display: inline-grid;
    grid-template-columns: 1fr 15% 25% 5%;
}

.header-item-left span{
    padding: 0.2em 0;
    font-size: 1.25em;
}

.header-item-left #header-left-dropdown{
    padding: 0.5em 0;
}

.header-item-centre{
    grid-area: header-item-centre;
    display: inline-grid;
    grid-template-columns:  15% 1fr 1fr 1fr 2fr 1fr 1fr 1fr 15%;
}

.header-item-centre a{
    padding: 0.2em 0;
}

.header-item-centre a span{
    padding: 0.2em 0;
    color: #ffffff;
    text-decoration: none !important;
}

.header-item-right{
    grid-area: header-item-right;
    display: inline-grid;
    grid-template-columns: 25% 25% 1fr; 
}

.header-logo{
    margin-top:-2em; 
    margin-left:auto; 
    margin-right:auto;
}

.header-container > div:not(.landing-page) {
    padding: 3em 0;
}

.header-left-text{
    font-size: 12px;
    color: #ffffff
}

.header-left-item-text{
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
}

.header-padding{
    padding-right: 35% ! important;
}

.header-margin{
    margin: 1%;
}

.nav-padding{
    padding: 0.555rem 0.75rem !important;
}

.header-search-background{
    background-color: transparent ! important;
    padding: 0.725rem .75rem ! important;   
     border-radius: 4px 0px 0px 4px;
     border: solid 1px #ffffff;
    color:#ffffff ! important;
    font-size: 10px;
     width: 80%;
    height: 35px;
}

input::placeholder{
    font-size: 10px ! important;
  color: #ffffff ! important;
}

.header-search-border{
     
     border-radius: 0px 4px 4px 0px;
     /* border: solid 1px #8e8e8e; */
     border: solid 1px #dfdfdf;
}

.header-padding-left{
    padding-left: 10% ! important;
}

.header-logo-margin{
    margin-left: 8%;
    margin-right:8%;
}

.nav_header_list{
    margin-right:4%;
}
/* #nav-left-part{
    margin-left:26%;
} */

.header-left-padding{
    padding-left:5% ! important;
}


.header-currency-div{
    height:21px;
}

.search-bar{
    min-width: 400px;
    width:100%;
    max-width: 500px;
}

.search-bar input{
    width:90%;
}

.header-icon-container{

}