#loader{
    width:100%;
    height:100%;
    /* display:none; */
}

.background{
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    animation: landing-kenburns 20s infinite;
}

.img1_CAMPS{
    z-index: 1;
}
.img2_CAMPS{
    margin-top:5%;
    /* margin-left:5%; */
}
.background-div{
    position: absolute;
    z-index: -1;
    /* top:-36px; */
    left:0px;
}

@keyframes landing-kenburns {
    0% {
    opacity: 0;
    }
    5% {
    opacity: 1;
    }
    95% {
        transform: scale3d(1.5, 1.5, 1.5) translate3d(-190px, -120px, 0px);
        animation-timing-function: ease-in;
        opacity: 1;
    }
    100% {
        transform: scale3d(2, 2, 2) translate3d(-170px, -100px, 0px);
        opacity: 0;
    }
}

.absolute{
    position: absolute ! important;
}

.campaign-box{
    /* opacity: 0.95; */
    background-color: rgba(255,255,255,0.95);
}

.campaign-box1{
    opacity: 0.95;
    border: solid 0.9px #d0d0d0;
}

.campaign-heading{
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: #4a4a4a;
}

.campaign-text_body3{
    font-size:14px;
}
.text-box-camp{
    margin-left:5%;
    margin-right:5%;
}

.campaign-btn{
    width: 226px;
    height: 46px;
    background-color: #c1a67f;;
    border-radius: 0%;
    padding-top:3%;
}

.campaign-btn-text{
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.3px;
    color: #ffffff;

}
.campaign-border{
    margin: 10px auto 20px auto;
    width: 43px;
    height: 3px;
    background-color: #4a4a4a;
}
.camp-box{
    margin-top: 15%;
    /* margin-left: 35%; */
    left:35%;
    z-index: 1;
}
.camp-box-body3{
    margin-top:18%;
    margin-left:33%;
     z-index: 1;
}
.camp-box5{
    margin-left:31%;
    margin-top:12%;
    z-index: 1;
}
.body3_camp{
    height:466px;
}
.campaign_desc{
    margin:auto;
     width: 85%;
     font-size: 14px;
     font-weight: normal;
     font-style: normal;
     font-stretch: normal;
     line-height: 1.64;
     letter-spacing: normal;
     text-align: center;
     color: #4a4a4a;
}
.campaign_desc_b5{
    margin-left:5%;
    margin-right:5%;
    font-size:14px;
    margin-bottom:16%;
}

.body7-margin{
    margin-right: 0% ! important;
    margin-top:-2%;
}
.margins_b7{
    margin-left:-2%;
    width:110%;
}

.carousel-control-prev-icon{
    background-image: url("../img/keyboard-left-arrow-button.png") ! important;
    width:  7.5px  ! important;
    height: 12.5px ! important;
}

.carousel-control-next-icon{
    background-image: url("../img/keyboard-down-arrow-button.png") ! important;
    width:  7.5px  ! important;
    height: 12.5px ! important;
}
.item_body7{
    margin-left:-2%;
}

.homepage-camp2-margin{
    margin-top:9%;
}

.body7-width{
    width:20% ! important;
}


@media screen and (max-width: 620px){
    .camp1-img-size{
        width:100% ! important;
    }
    .camp-box{
        margin-top: 46%;
        margin-left: 8%;
        z-index: 1;
    }
    .campaign-box{
        width: 85%;
    }
    
}


.homepage-body1-margin-top{
    margin-top: 48% ! important;
    
}
.homepage-body3{
    width:95%;
     margin-left:1%;

}

.homepage-body1-padding-top{
    padding-top:4% ! important;
}

/* .camp-container{
    text-align: center;
} */

.carousel-container{
    text-align:center;
}
.carousel-control-btn{
    width: 5%;
}

.carousel-control-prev{
    left: 0;
}

.carousel-control-next{
    right: 0;
}
.product-carousel-item{
    width:100%;
    margin: auto;
    padding: 0 50px;
    min-height: 100px;
}

.camp-container{
    text-align: center;
    width: 95%;
    margin:auto;
    position: relative;
}
/* 
.homepage-body-carousel-prev{
    margin-top:-3%;
    margin-left:-4% ! important;
}

.homepage-body-carousel-next{
    margin-top:-4%;
    margin-right:1% ! important;
    width:1%;
}

.homepage-camp2-margin-top{
    margin-top:2% ! important;
}
.item1_body2{
    margin-left:3%;
}
.item2_body2{
    margin-left:-1%;
}
.border-body5{
    margin-top:2.5%;
    margin-bottom:4%;
}
.item_body7{
    margin-left:1%;
} */

.carousel-img, .insta-photo{
    display: block;
    width: 100%;
    height: auto;
}

.animation_img{
    display: block;
    width: 100%;
    height: 100%; 
}

.camp-inner-container{
    position: relative;
    width: 100%;
    max-width:100%;
    /* height: 900px; */
    margin:50px auto;
}

.camp-inner-margin{
    margin-top:100px !important;
}

.big_camp_img_box{
    max-width: 100%;
    /* width: 60%; */
    width: 621px;
    height: 680px;
    min-height: 500px;
    vertical-align: middle;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.33);
    border: solid 9px #ffffff;
}

.small_camp_img_box{
    max-width:100%;
    /* width: 50%; */
    width: 619px;
    height: 560px;
    min-height: 250px;
    vertical-align:middle;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.33);
    border: solid 9px #ffffff;
}

.left_camp_img_box{
    left: 0;
    margin-right: -5%;
    margin-top: 0;
}

.right_camp_img_box{
    right: 0;
    /* margin-left: -5%; */
    margin-top: 0;
}

.camp-box{
    top: 18%;
    margin-top: 0;
    width: 40%;
    left: 30%;
    max-width: 80%;
}

.camp2-second-index{
    z-index: 1;
}

.campaign-box{
padding: 20px;
min-width: 300px;
}

.campaign-box1{
    text-align: center;
    padding: 50px 20px;
    
}

.campaign-btn{
    margin: 40px auto;
}

.insta-photo-div{
    padding:0;
    background: rgba(0, 0, 0, 0.75);
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
}



.feature-row{
    margin: auto;
    width: 90%;
}

.instagram-top-padding{
    padding-top: 4%;
}

.footer-newsletter-text{
    font-size: 32px;
    font-weight: bold;
    letter-spacing: -0.7px;
    text-align: center;
    color: #ffffff;
}

.footer-newsletter-subscript-text{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.4px;
    text-align: center;
    color: #ffffff;
}

.homepage-container{
    max-width:1440px;
}

@media(max-width: 1200px){
    .camp-box{
        top: 21%;
        margin-top: 0;
        width: 40%;
        left: 30%;
        max-width: 80%;
    }
    
    .campaign-box{
    padding: 15px;
    min-width: 300px;
    }
    
    .campaign-box1{
        text-align: center;
        padding: 15px;
        
    }
    .campaign-btn{
        margin: 20px auto;
    }

    
}


@media(min-width:1441px){
    .camp-inner-margin{
        margin-top:10% !important;
    }
}

@media (max-width: 800px){
    .container-fluid{
        position: relative;
    }

    .navbar-collapse{
        position: absolute;
        width: 100%;
        padding: 10px 20px;
        z-index: 100;
    }

    .navbar-light .navbar-toggler-icon{
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    .logo-img{
        width: 30px;
    }

    
    .starting-container{
        margin-top: 600px;
    }

    .camp-inner-container{
        position: relative;
        width: 100%;
        max-width:100%;
        margin: 30px auto;
    }
    
    .big_camp_img_box{
        max-width: 100%;
        width: 100%;
        height:350px;
        vertical-align: middle;
        min-height: 150px;
    }
    
    .small_camp_img_box{
        display:none !important;
    }
    
    .left_camp_img_box{
        left: 0;
        margin: 0;
    }
    
    .right_camp_img_box{
        right: 0;
        margin-left: 0;
    }
    
    .camp-box{
        top: 0;
        width: 80%;
        height: 80%;
        margin: 20px auto;
        max-width: 100%;
        left: 0;
        right: 0;
        position: relative!important;
        margin-top: -50%;
        opacity: 1;
    }
    
    .campaign-box{
    width:100%;
    min-width: 100%;
    opacity: 1;
    box-shadow: 0px 0px 4px #777;
    }

    .homepage-body1-margin-top{
        position: relative;
    }
    .campaign-color-box{
        position: absolute;
        z-index: -1;
        background-color: #c1a67f;
        height:50%;
        width:100%;
        bottom: 0;
    }
    
    .campaign-box1{
        text-align: center;
        padding: 10px;
        
    }
    
    .campaign-btn{
        margin: 20px auto;
        width:80%;
    }   

    .campaign-border{
        margin: 5px auto 10px auto;
        width: 43px;
        height: 3px;
        background-color: #4a4a4a;
    }

    .insta-photo-bar{
        margin: 10px auto;
        padding: 10px;
    }

    .insta-photo-div{
        margin:0!important;
        padding: 0;
    }

    .feature-bar{
        display: none;
    }
}