.landing-container{
    width: 100%;
    height: auto;
}
.background{
    width: 100vw;
    height: 100vh;
    border: 1px solid #fff;
    animation: landing-kenburns 20s infinite;
}
@keyframes landing-kenburns {
    0% {
    opacity: 0;
    }
    5% {
    opacity: 1;
    }
    95% {
        transform: scale3d(1.5, 1.5, 1.5) translate3d(-190px, -120px, 0px);
        animation-timing-function: ease-in;
        opacity: 1;
    }
    100% {
        transform: scale3d(2, 2, 2) translate3d(-170px, -100px, 0px);
        opacity: 0;
    }
}

.background-div{
    position: absolute;
    z-index: -1;
    top:0px;
    left:0px;
    overflow:hidden;
}

.landing-description-margin{
    margin-left: -5%;
}

.landing-caption{
    background-blend-mode: overlay !important;
    background: rgba(0, 0, 0, 0.4) !important;
    height: 100% !important;
    padding-top: 23%!important;
    top:0% !important;
}

.landing-overlay{
    width:100%;
    height: 100%;
    object-fit: cover;
    /* background-image: radial-gradient(circle at 49% 50%, rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.48)); */
    background-blend-mode: overlay;
    background: rgba(0, 0, 0, 0.48);
}

.landing-item-middle2-center-button {
    margin-top:4%;
    width: 225.2px;
    height: 46px;
    background-color: #ffffff;
    border-radius:0%;
    font-family: NunitoSans;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: -0.3px;
    color: #4a4a4a;
    padding-top:2%;

}

.landing_page_anim{
    margin-top:25%;
}
.carousel-caption{
    left:0%;
    top:33%;
}



.landing-page{
    grid-area: landing-page;
    display: grid;
    grid-template-columns: 15% auto 30% auto 15%;
    grid-template-areas:
            'landing-item-top-fill landing-item-top-fill landing-item-top-fill landing-item-top-fill landing-item-top-fill'
            'landing-leftmost landing-item-top-left landing-item-top-center landing-item-top-right landing-rightmost'
            'landing-leftmost landing-item-middle1 landing-item-middle1 landing-item-middle1 landing-rightmost'
            'landing-leftmost landing-inner-left landing-item-middle2-center landing-inner-right landing-rightmost'
            'landing-leftmost landing-inner-left landing-item-bottom-center landing-inner-right landing-rightmost'
            'landing-leftmost landing-inner-left landing-item-bottom-fill landing-inner-right landing-rightmost'; 
    
    /* grid-template-rows: 30% 10% 15% 15% 10% 1fr;  */
    grid-template-rows: 1.25fr 0.5fr 0.5fr 0.75fr 1.25fr 0.75fr; 
    text-align: center;
    color: #ffffff;
}



.landing-item-top-fill { grid-area: landing-item-top-fill; }
.landing-item-top-left { 
    grid-area: landing-item-top-left;
    text-align: right;
    margin-right: 2em;
}
.landing-item-top-center {
     grid-area: landing-item-top-center;
     font-size: 2.5em;
     font-weight: 100 !important;
    }
.landing-item-top-right { 
    grid-area: landing-item-top-right;
    text-align: left;
    margin-left: 2em;
}
.landing-leftmost{grid-area: landing-leftmost;}
.landing-rightmost{grid-area: landing-rightmost;}

.landing-item-middle1{
    grid-area: landing-item-middle1;
    vertical-align: middle;
    padding-left: 11.5%;
    margin-top:2%;
    padding-right: 11.5%;
    line-height: 2em;
    font-size: 1.2em;
}

.landing-inner-left{grid-area: landing-inner-left;}
.landing-inner-right{grid-area: landing-inner-right;}

.landing-item-bottom-fill{grid-area: landing-item-bottom-fill;}

.landing-item-middle2-center{
    grid-area: landing-item-middle2-center;
}

.landing-item-bottom-center{
    grid-area: landing-item-bottom-center;
}

.landing-item-bottom-center img{
    max-width: 100%;
    max-height: 100%;
}

.landing-heading{
    font-size: 30px;
    color: #ffffff;
    letter-spacing: 1.3px;
    font-weight: bold;
}

.landing-text{
  width: 761.2px;
  height: 118px;
  font-family: 'Nunito Sans' !important;
  font-size: 17px;
  font-weight:normal !important;
  font-stretch: normal;
  line-height: 1.53;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.landing_desc{
    margin-top:2%;
   }

.text-play{
  margin-top:1.5%; 
}
.play-text{

  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.1px;
  color: #ffffff;
}

.landing-btn-margin{
    margin-left: 28% ! important;
}

.landing-play-btn{
    margin-top:2%;
    width: 65px;
    height: 65px;
}

.indicators {
    padding-right:2.5%;
    padding-top:2.5%;
}

.carousel-indicators{
    right:60%;
    margin-left: -12%;
    top:91%;
}

.carousel-indicators .active{
    background-color:transparent;
    border:solid 1px #fff;
}

.carousel-indicators li{
    width:10px ! important;
    height:10px ! important;
    border-radius: 100% ! important;
}

.play-oval{
    width: 65px;
    height: 65px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.09);
    border: solid 1.1px #e6e6e6;
}

.play-padding{
    padding: 19%;
    padding-right: 0%;
}

.landing-div-overlay{
    background-image: radial-gradient(circle at 49% 50%, rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.48));
}

/*.landing-top{
    margin-top:-25%;
}
.landing-heading{
    margin-left:2.2%;
}
*/

@media screen and (max-width: 620px) {
    .landing-line7-margin{
        margin-left:-25% ! important;
    }
    .landing-heading-margin{
        margin-left:15% ! important;
    }
    .landing-btn-margin{
        margin-left: 12% ! important;
    }
    .landing-play-btn{
        padding-top: 14%;
        height: 100px;
    }
    .play-text{
        margin-left: -11%;
    }
    .landing-description-margin{
        margin-left: 0%;
    }

    .landing-caption{
        padding-top: 70%!important;
    }
    
}

@media(max-width: 420px){
    .landing-container{
        min-height: 500px;
        height: auto!important;
        z-index: -1;
        top: -96px;
        /* position: relative; */
    }
    .landing-container .carousel-inner{
        height: 675px;
    }

    .landing-container .carousel-inner .carousel-item{
        height: 100%;
    }

    .landing-container .carousel-inner img{
        height: 100%;
        width: 100%;
        max-width: 100%;
    }

    .landing-container .carousel-indicators{
        right: 0;
        bottom: 20px;
        margin: 0;
        top: auto;
    }

    .landing-heading-margin{
        margin: 0% !important;
    }

    .landing-heading{
        font-size: 24px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        text-align: center;  
        color: #ffffff;
        padding: 20px;
    }

    .landing_desc .landing-text{
        font-family: 'Nunito Sans';
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.86;
        letter-spacing: -0.7px;
        text-align: center;
        color: #ffffff;
        margin: 20px auto;
        width: auto;
        padding: 15px;
    }

}

