.login-bg-color{
    background-color: #ffffff;
    box-shadow: -4px 0 9px 0 rgba(154, 153, 153, 0.5); 
}

.login-right-img{
    width:250px;
    height: 703px ! important;
}

.login-transform-text{
    transform: rotate(270deg);
    height:85px;
    font-size: 64px;
    font-weight: bold;
    color: #f3f3f3;
    bottom: 14%;
    left: -4%;
}

.register-transform-text{
    transform: rotate(270deg);
    height:85px;
    font-size: 64px;
    font-weight: bold;
    color: #f3f3f3;
    bottom: 17%;
    left: -7%;
}


.register-transform-line{
    height: 2px;
    display:inline-block;
    width:153px;
    background-color:#e7e6e6;
    color: #877151;
    vertical-align:middle;
    /* margin-left: 5px; */
    position: absolute;
    margin-top: 24%;
    margin-left: 22%;
}

.login-middle-text{
    font-size: 31px;
    font-weight: bold;
    color: #4a4a4a;
    margin-left:5%;
}
.margin-top{
    margin-top: 9%;
}
.margin-left{
    margin-left: 26%;
}

.register-margin-left{
    margin-left: 27%;
}

.login-text{
    font-size: 11px;
    letter-spacing: 0px;
}

.login-label-text{
    font-size: 14px;
    letter-spacing: 0px;
    color: #4a4a4a;
}

.login-input{
    background-color: #fafafa;
    /* border: solid 1px #eaeaea; */
    font-size: 12px;
    height:40px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #cccccc;
    border-radius: 0px;
}

.login-input::placeholder{
    font-size: 12px !important;
    height:40px !important;
    font-weight: 500 !important;
    letter-spacing: 0.5px !important;
    color: #cccccc !important;
}

.login-forgot-pass{
    font-size: 10px;
    letter-spacing: 0px;
    color: #4a4a4a;
}

.login-border{
    width: 337px;
    height: 1px;
    border: solid 1px #979797;
}

.login-bottom-text{
    font-size: 12px;
    letter-spacing: 0px;
    color: #4a4a4a;
}

.login-bottom-text-bold{
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0px;
    color: #4a4a4a;
}

.register-checkbox-text{
    font-size: 10px;
    color: #4a4a4a;
}

.register-box-top{
    top:26%;
}

.login-main-container{
    margin-top:80px !important;
}

.login-box-top{
    top:30%;
}

.login-btn-line{
    height: 2px;
    display:inline-block;
    width:20px;
    background-color:#877151;;
    color: #877151;
    vertical-align:middle;
    /* margin-left: 5px; */
    margin-left: 8%;
 }

 .register-padding-right{
     padding-right:0 !important;
 }

@media (max-width:600px){
    .text-position{
        position:absolute;
    }

    .login-middle-text{
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        color: #ffffff;
        padding-top:15%;
        margin-left:auto;
        margin-right:auto;
    }

    .login-main-container{
        margin-top:16% !important;
    }

    .margin-top{
        margin-top: 30%;
    }

    .login-hide{
        display:none !important;
    }

    .margin-left{
        margin-left: auto !important;
        margin-right:auto !important;
    }

    .register-margin-left{
        margin-left: auto !important;
        margin-right:auto !important;
    }

    .login-border{
        width: 100%;
    }

    .register-padding-right{
        padding-right:0 !important;
        padding-left:0 !important;
    }

    .mobile-text-center{
        text-align: center !important;
    }
}

@media (min-width:600px){
    .login-web-hide{
        display:none !important;
    }
}