@media screen and (max-width: 620px) {
  .background{
    animation:none;
    width: 100%;
    height: 100vh;
  }
  .header-container, .landing-item-top-left, .landing-item-top-right{
    display: none;
  }
  div.landing-container{
    height:100vh;
  }
  .body1-container{
    height: 1500px;
     display: grid;
    grid-template-rows: 30% 5% 30%;
    grid-template-columns: 100%;
     grid-template-areas: 
            'body1-container-left'
            'body1-container-middle1'
            'body1-container-middle2'
            'body1-container-right';
  }
 div.body1-container-middle2{
  margin-top:50%;
 }
  #top-left-animation-back{
    display:none;
  }
  .animation-start-left-front, .animation-start-left-back{
    animation:none;
  }

  .body1-container-top{
    margin-top:10%;
    padding-top:0px;
    margin-bottom:5px;
  }
  .body2-container{
    margin-top:10%;
    display: grid;
    width: 100%;
    height: 120vh;
    text-align: left;
    grid-template-areas: 
            'body2-top body2-top body2-top'
            'body2-middle1-left body2-middle1-item1 body2-middle1-right'
            'body2-middle2-left body2-middle2-item1 body2-middle2-right'
            'body2-bottom  body2-bottom  body2-bottom ';

    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 15% 65% 10% 5% ;
    grid-column-gap: 2%; 
  }

  div.body2-middle1-item2, .body2-middle1-item3,.body2-middle1-item4,
  .body2-middle2-item2, .body2-middle2-item3, .body2-middle2-item4,
  .body2-bottom, .body2-bottom, .body2-bottom{
    display:none;
  }
  .body3-container{
    width: 100%;
    height: 110vh;
    display: grid;
    grid-template-rows: 50% , 50%;
    grid-template-columns: 100%;
    grid-template-areas: 
            'body3-container-middle'
            'body3-container-right'
  }
  .top-animation-front{
    margin-top:5%;
    text-align: center;
  }
  div.body3-container-left{
    display: none;
  }
  img.img_3_b3{
    width:100%;
  }
  div.style-8_b3{
    margin-top:15%;
  }
  div.body3-rectangle{
    width:110%;
    margin-top:30%;
    height: 70%;
  }

  div.body5-container{  
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
    grid-template-areas: 
            'body5-container-right'
            'body5-container-left'
  }
  img.img_rt_b5{
    margin-top:6%;
    margin-left:8%;
    width:100%;
  }
  div.style4_b5{
    margin-top:21%;
    height:65%;
    width:110%;
  }
  .style8_b5{
    margin-top:20%;
  }
  div.body1-container-top, div.body1-container-bottom{
    display:none;
  }
  div.section_4images{
    margin-top:70%;
  }
  div.img_get{
        margin-left: 20px;
    width: 100%;
    text-align: center;
  }
  div.details_b6{
    display: none;
  }
  img.img_hide {
    display: none;
    height: 0px;
  }
  div.foot_hide{
  	display: none;
  	height: 0px;
  }
  div.foot_head{
  	height: 20px;
    width:100%;
  }
  div.foot_start{
    height:0px;
  }
}