.account-img-box{
    width: 250px;
    height: 100%;
    opacity: 0.5;
    background-color: #000000;    
    margin-top: -207%;
}

.account-bg-img{
    /* background-size: 100% 100%; */
    height:100vh;
    width: 250px;
    background: url('../img/account_dashboard.png') no-repeat center center;
    background-blend-mode: overlay;
    background-color: rgba(0,0,0,0.6);
}

.account-name{
    font-family:Nunito;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: -0.4px;
    color: #757575;
}

.account-text{
    font-family:Nunito;
    font-size: 14px;
    letter-spacing: -0.3px;
    color: #757575;
}

.account-box{
    background-color: #fafafa;
    border: solid 1px #cbcbcb;
}
.padding-right{
    padding-right:0%;
}

.padding-left{
    padding-left:0%;
}

.account-box-text{
    font-family:Nunito;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.3px;
    color: #4a4a4a;
}

.account-btn-text{
    font-family:Nunito;
    font-size: 12px;
    letter-spacing: -0.3px;
    color: #757575;
}

.acoount-btn{
    background-color: #ffffff;
    border: solid 1px #cbcbcb;
    border-radius: 0%;
}

.account-top-box{
    background-color: #ffffff;
    border: solid 1px #cbcbcb;
    padding:2%;
}

.account-top-box-text{
    font-family:Nunito;
    font-size: 12px;
    letter-spacing: -0.3px;
    color: #757575;
}

.account-text-subscript{
    font-family:Nunito;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: -0.3px;
    color: #9b9b9b;
    margin-left:2%;
}

.bold{
    font-weight: 900;
}

.account-btn-margin{
    margin-right: 8%;
}

.account-edit-border{
    border-right: solid 1px #4a4a4a;
}
.account-box-top-margin{
    margin-top: -4%;
}

.account-img-text-active{
    font-family:Nunito;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: -0.3px;
    color: #ffffff;
}

.account-img-text{
    font-family:Nunito;
    font-size: 14px;
    letter-spacing: -0.3px;
    color: #818181;
}

.account-img-text-padding{
    padding-bottom:2% ;
}

.account-img-text-padding a:hover{
    font-family: Nunito;
    font-size: 15px;
    font-weight:900;
    letter-spacing: -0.3px;
    color: #ffffff;
}

.account-label-text{
    font-family:Nunito;
    font-size: 14px;
    letter-spacing: 0px;
    color: #4a4a4a;
}

.account-input-box{
    background-color: #fafafa;
    border: solid 1px #eaeaea;
    border-radius:0%;
    height: 40px;
}

.account-input-text{
    font-family:Nunito;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #cccccc;
}

.account-submit-btn{
    background-color:#ffffff;
    border-radius:0%;
    border-color:#4a4a4a;
    height: 40px;

}

.account-submit-btn-text{
    font-family:Nunito;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: -0.3px;
    color: #4a4a4a
}

.font-14{
    font-size: 14px;
}

.account-order-border{
    border: solid 1px #979797;
    height:1px;
    margin-top: 1%;
}

.account-address-border{
    border: solid 1px #cfcfcf;
    height:1px;
}

.account-margin{
    margin-top:3%;
    margin-bottom:3%;
}

.account-content-margin{
    margin-left:22%;
}

.account-btn-line{
    height: 2px;
    display:inline-block;
    width:20px;
    background-color:#4a4a4a;
    color: #4a4a4a;
    vertical-align:middle;
    /* margin-left: 5px; */
    margin-left: 8%;
 }

 .btn-edit{
     color:#4a4a4a !important;
     text-decoration:underline !important;
 }

 .btn-edit:hover{
    color:#4a4a4a !important;
    text-decoration:underline !important;
 }

 .account-mobile-container-top-collapse-btn{
    border-radius: 1px;
    background-color: #ffffff;
    height:70px;
    box-shadow: -4px 0 9px 0 rgba(154, 153, 153, 0.5);
    margin-top: 2%;
    text-align:left;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.5px;
    color: #4a4a4a;
}

.account-mobile-container-top-collapse-btn.collapsed:after{
	text-decoration: none;
	content: 'v';
    font-size: 18px;
    color:#878787;
    font-weight: bold;
    float:right;
    vertical-align: middle;
    padding-bottom:2%;

}

.account-mobile-container-top-collapse-btn:after{
	text-decoration: none;
    content: '^';
    color:#878787;
    float:right;
	font-size: 18px;
	font-weight: bold;
	vertical-align: middle;
    padding-top:-5px;
}

.account-mobile-collapse-text{
    font-size: 12px;
    color: #9b9b9b;
}

.account-ul{
    list-style-type: none;
}

.account-ul li{
    padding-top:2%;
    padding-bottom:2%;
}

.account-mobile-li-text{
    font-size: 17px !important;
    font-weight: 500 !important;
    letter-spacing: -0.6px !important;
    color: #9b9b9b !important;
}



.account-collapse-bg{
    height: 277px;
    border-radius: 1px;
    background-color: #ffffff;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.5);
    z-index:2;
}

.account-bg-color{
    background-color: #ffffff;
    margin-top:3%;
    padding-top:8%;
    padding-bottom:8%;
}

@media(min-width:600px){
    .account-web-none{
        display:none;
    }
}

@media(max-width:600px){
    .account-bg{
    height:1000px;
    width:100%;
    background: url('../img/myaccount_bg.png') no-repeat center center;
    background-blend-mode: overlay;
    background-size:100% 100%;
    background-color: rgba(0,0,0,0.6);
    }

    .account-mobile-none{
        display:none;
    }

    .account-collapse-nav{
    height: 70px;
    border-radius: 1px;
    background-color: #ffffff;
    }
 }