.prelaunch-img{
    width: 100%
}

.prelaunch-logo-margin{
    margin-left: -6%;
}

.prelaunch-logo-top-margin{
    margin-top: 4%;
}

.prelaunch-middle-border{
    border-right: solid 2px #ffffff;
}

.prelaunch-left-text{
    font-size: 24px;
    color: #ffffff;
}

.font-18{
    font-size: 18px;
}

.font-14{
    font-size: 14px;
}

.font-34{
    font-size: 34px;
}

.prelaunch-input-box{
    border-radius:0%;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #959494;
    height:40px;
}

.prelaunch-btn{
    border-radius:0%;
    height:40px;
    background-color: #493a64;
}

.prelaunch-btn-text{
    font-size: 12px;
    font-weight: 900;
    letter-spacing: -0.3px;
    color: #ffffff;
}