#root{
    overflow:hidden;
}

.preWebsitelaunch-img{
    width: 100%;
    height: 100%;  
}

.oval-button-left{
    width: 55px;
    height:92px;
    background-color: rgba(255, 255, 255, 0.25);
    border: solid 1px rgba(255, 255, 255, 0.24);
    border-top-right-radius:100%;
    border-bottom-right-radius:100%;
    position: absolute;
    left:0
}

.oval-button-right{
    width: 55px;
    height:92px;
    background-color: rgba(255, 255, 255, 0.25);
    border: solid 1px rgba(255, 255, 255, 0.24);
    border-top-left-radius:50%;
    border-bottom-left-radius:50%;
    position: absolute;
    right:0
}

.preWebsitelaunch-heading{
    font-size: 34px;
    color: #ffffff;
    vertical-align: middle;
}

.preWebsitelaunch-caption{
    top: 42% !important;
    width: 100% !important;
    z-index: 0;
}

.preWebsitelaunch-bottom{
    bottom:3%;
    position: absolute;
}

.preWebsitelaunch-logo-position{
    left:10%;
    position: relative;
}

.preWebsitelaunch-text{
    font-size: 18px;
    color: #ffffff;
    padding-right: 6%;
}

.arrow-width-left{
    left: -100px;
}

.arrow-width-right{
    right: -100px;
}

.oval-button{
    width: 110px;
    height:92px;
    padding: 32px;
    background-color: rgba(255, 255, 255, 0.25);
    border: solid 1px rgba(255, 255, 255, 0.24);
    border-radius: 50%;
    position: absolute;
}

.carousel-icon-right{
    margin-left: -35px;
}

.carousel-icon-left{
    margin-right: -35px;
}

.preWebsitelaunch-bottom{
    width:100%;
}

.bottom-logo-container{
    text-align:left;
}

.newsletter1-container{
    text-align: right;
    padding-right: 8%;
}

.preWebsitelaunch-box{
    height: 40px;
    width:470px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #eaeaea;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #959494;  
}

.newsletter1-box{
    position: relative;
    margin-top:2%;
}
.preWebsitelaunch-btn{
    background-color: #c1a67f;
    height:40px;
    top:0;
    right:0;
    position:absolute;
}

.preWebsitelaunch-btn-text{
    color:#ffffff;
    font-size: 12px;
    font-weight: 500;
}
.pre-launch-container{
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(circle at 49% 50%, rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.48));
    /* z-index:1; */
}

.pre-launch-website-carousel-inner{
    z-index: -1;
}

input.pre-website-launch-submit::placeholder{
    font-size: 12px !important;
    font-weight: 500 !important;
    letter-spacing: 0.5px !important;
    color: #959494 !important;
}

.btn-line{
   height: 2px;
   display:inline-block;
   width:20px;
   background-color:white;
   color: white;
   vertical-align:middle;
   /* margin-left: 5px; */
   margin-left: 8%;
}

.emptydiv{
    height: 100%;
    width:0px;
    vertical-align: middle;
}

.carousel-size{
    height: 100vh !important;
}
@media (max-width:500px){
    .preWebsitelaunch-caption{
        top:0 !important;
        height: 100% !important;
        padding:20px 10px
    }

    .preWebsitelaunch-logo-position {
        
    }

    .preWebsitelaunch-heading {
        font-size: 24px;
        padding: 80px 20px;
        font-weight: bold;
    }

    .preWebsitelaunch-text {
        font-size: 16px;
        font-weight: 500;
        padding: 20px 20px 5px 20px;
    }

    .newsletter1-container{
    
    }

    .preWebsitelaunch-box {
        width: 100%;
    }

    .arrow-width-left{
       
    }
    
    .arrow-width-right{
       
    }

    .preWebsitelaunch-img{
       
    }

    .pre-launch-container{
      
    }

    .pre-website-launch-submit{
      
    }

    .preWebsitelaunch-heading{
       
    }
    
}

@media (min-width:650px) and (max-width:800px){
    .preWebsitelaunch-caption{
        top:0 !important;
        height: 100% !important;
        padding:20px 100px
    }

    .preWebsitelaunch-box {
        width: 100%;
    }

    .preWebsitelaunch-text {
        font-size: 16px;
        font-weight: 500;
        padding: 20px 20px 5px 20px;
    }

    .preWebsitelaunch-heading {
        font-size: 24px;
        padding: 80px 20px;
        font-weight: bold;
    }

}