
.footer-visible{
    visibility: visible !important
}

.product-footer{
    padding-right:0px;
    padding-left:0px;
    margin-top:20px;
    position:relative;
    bottom:0;
    z-index:0;
    visibility: visible;
}
.column_style{
	border-right: 1px solid #a9a5a4;
	border-left: 1px solid #a9a5a4;
}
.footer_listing{
	padding-top:10%; 
	padding-left:0%;
	font-size: 12px;
	letter-spacing: normal;
	color: #a9a5a4;
	text-transform: uppercase;
	list-style-type: none;
}
.footer_1{
	text-align:right;
	width:70%;
}
.footer_2{
	text-align: center;
}

.footer_3{
	text-align: left;
}
.foot_start{
	height : 300px;margin-top:60px;
}
.btn-1{
	border:none !important;
	background-color: #322421;
	
}