html{
    font-size: 12px ;
}

body{
    font-size: 12px !important;
}

a {
    text-decoration: none !important;
}

.pre-launch-container{
    overflow: hidden;
}

.button-main{
    width: 17.5em !important;
    height: 3.5em !important;
    background-color: #ffffff
}

.dropdown {
    position: relative; 
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.img_country{
     margin-left: -5px;
     margin-top: 4px;
}
.span_country{
    color: #3a4664;
    font-size: 15.6px;
    font-weight: 900;
}
.link_style_prod{
    color: #3a4664 !important;
    font-size: 14px;
    font-weight: 900;
}

.header2-text{
    font-size: 12px;
    font-weight: 900;
    color: #604f35;
}


.header2-search-background{
    padding: 0.725rem .75rem ! important; 
    border-radius: 4px 0px 0px 4px;  
    background-color: #f5f5f5! important;
    border: solid 1px #dfdfdf;
    font-size: 10px;
    width: 100%;
    height: 35px;

    
}

.header2-search-border{
    border-radius: 0px 4px 4px 0px;
    border: solid 1px #dfdfdf;
    background-color: #f5f5f5! important;

}

.header2-top-bar-bg{
    height: 23px;
    background-color: #877151;
    z-index: 5;
}

.header2-z-index{
    z-index:5;
}

.header2-left-text{
    font-size: 10px;
    color: #ffffff;
}

.header2-left-text-margin{
    margin-left: -5%;
}

.header-right-text-margin{
    margin-right: -2%;
} 

.header2-nav-bottom-border{
    background-color: #ffffff ! important;
    box-shadow: 0 5px 6px 0 rgba(164, 164, 164, 0.5);
    height: 59px !important;
}

input.header2-search::placeholder{
    font-size: 10px ! important;
    color: #6a6a6a ! important  ;
}

.header2-nav-bg{
    background-color: #faf6f7;
}

.main-container{
    margin-top: 80px;
}

@media screen and (max-width: 620px) {
    #none{
        display: none;
    }

    #nav-left-part{
        display: none;
    }

    .header2-nav-toggler{
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(157, 139, 113, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") ! important;
    }
}

@media screen and (min-width: 620px){
    #brand-none{
        display: none;
    }
}