.img_wid{
    width:100%;
}
.bootstrap_container{
     position: relative;
    text-align: center;
    width:100%;
}
.top-right{
    position: absolute;
    top: 1%;
    right: 0%;
    width:100%;
}
.style1_prod{
    margin-left:-37%;
}
.style2_prod{
    margin-left: -27%;
}
.style3_prod{
    margin-top:-21%;z-index:10;
}
.style4_prod{
     padding-top: 15%;
     height:50%;
}
.style5_prod{
    padding-top : 40px;
}
.style6_prod{
    margin-top:-21%;z-index:10;
}
.style7_prod{
    margin-top:-21%;z-index:10;
}
.style8_prod{
    padding-top:3%;padding-bottom:3%;
}
.style9_prod{
    height:1px;margin-top:3%;
    margin-left: -10%;
}
.style91_prod{
    margin-top:3%;
}
.style10_prod{
    width:41px;
    height:40px;
    background-color:#fafafa;
    padding-right: 0%;
    padding-left: 0%;
    border-radius: 0%;
    margin-top:4%;
}
.style11_prod{
    color:#ffffff;
    width:185.9px;height:40px;background-color:#c1a67f;
    border-radius:0%
}

.style11_prod_text{
    font-size: 12px;
    font-weight: 900;
    letter-spacing: -0.3px;
    color: #ffffff;
}
.style12_prod{
    background-color:#ffffff;
    border-radius: 0%;
    margin-left:4%;width:168px;height:40px;border:solid 1px #6b573b;
}

.checout-btn{
    background-color:#ffffff;
    border-radius: 0%;
    height:40px;border:solid 1px #6b573b;
}

.style12_prod_text{
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 0px;
    text-align: center;
    color: #6b573b;
}
.style13_prod{
    border-radius:1px;border-top:solid 2px #e0e0e0;background-color:#fafafa;margin-top:19%;margin-left:1%;
}
.style15_prod{
    margin-right:-40px;
}
.style_span2_prod{
   font-size:24px;line-height:normal;letter-spacing:0.1px;
}
.style_span3_prod{
   letter-spacing:-0.4px;
}
.style_span5_prod{
    letter-spacing:0px;text-decoration:underline;
}
.style_span_8_prod{
    font-size:16px;font-weight:500;letter-spacing:0px;color:#4a4a4a;
}
.style_span_9_prod{
    color:#4a4a4a;font-size:19px;font-weight:bold;
}
.style_select{
    width:132px;
    height:40px;
    background-color:#fafafa;
    border:solid 1px #eaeaea;
    letter-spacing:0.5px;
    border-radius:0%;
    text-align:left !important;
}
.pstyle_common{
    text-align:left !important;font-size:14px;color:#4a4a4a;
}
.pstyle1_prod{
    letter-spacing:-0.2px;
}
.pstyle2_prod{
    font-weight:bold;
    letter-spacing:0.1px;
}
.pstyle3_prod{
    height:19px;letter-spacing:0px;
}
.margins1_prod{
    margin-top:4%;
}
.margins2_prod{
    margin-top:3%;
}
.pdng_left{
    padding-left:10%;
}
.p-body1-container{   
    /*background-color:#3a4664;*/
    width: 100%;
    height: 150vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 30% 30% 1fr;
    grid-template-areas: 
            'p-body5-container-left1 p-body5-container-top p-body5-container-right'
            'p-body5-container-left1 p-body5-container-top p-body5-container-right'
            'p-body5-container-left2 p-body5-container-bottom p-body5-container-right'
            'p-body5-container-left2 p-body5-container-bottom p-body5-container-right';
}
.style1_body_prod{
    position:absolute;margin-left:4%;
}
.margin0_body_prod{
    margin-top:-23%;
}
.margin1_body_prod{
    margin-top:-15%;
    
}
.margin2_body_prod{
    margin-top:-19%;
    margin-left:2%;
}
.margin3_body_prod{
    margin-top:-11%;
    margin-left:2%;
}
.margin4_body_prod{
    margin-top:0%;
}
.p-body1-container-left1{ 
    grid-area: p-body5-container-left1; 
}
.p-body1-container-left2{ 
    grid-area: p-body5-container-left2;
}
.p-body1-container-right{
     grid-area: p-body5-container-right;
     /*text-align: right;*/     
}
.p-body1-container-top{ 
    grid-area: p-body5-container-top;
    /*padding-top:28%; 
    font-size: 2em; 
    overflow: hidden;
    transition: height 2s;*/
}
.btn_explore{
    padding:1% 7%; 
    cursor: pointer;
}

.p-body5-container-bottom{ grid-area: p-body5-container-bottom}

.p-body5-rectangle{
  width: 457px;
  height: 572px;
  object-fit: contain;
  opacity: 0.9;
  background-color: #66799a;
}

.footer-visible{
    visibility: visible !important
}
.body2-bottom{
    margin-bottom:10px;
}
.img_bottom{
    margin-bottom: 2.5%;
}

.product-return-policy-bg{
    background-color: #f2f2f2;
    border: solid 1px #cfcfcf;
    height: 52px;
    position: absolute;
    bottom: 0;
}

.product-info-width{
    /* width:480px !important; */
    height:100vh!important;
    background-color: #ffffff;
    box-shadow: 0 2px 8px 0 rgba(143, 143, 143, 0.5);
}

.change-body2-background{
    background-color: rgba(255,255,255,0.95);
    /* width:480px !important;
    height:100% !important;
    transition: width 0.2s ease-out;
    transition: width 0.2s ease-in;
 */
}

.transparent-body{
    background-color: transparent;
}
.animation-fade-product-description{
    -webkit-animation: fadeout 1s infinite; 
    animation: fadeout 1s infinite;
    animation-delay: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.product-body1-margin1{
    margin-left: 3%;
}

.no-margin{
    margin-left:0% ! important;
    margin-right:0% ! important;
}

.product-landing-top-margin{
    margin-top: 2%;
}

.product-size-circle{
    height:28px;
    width:28px;
    border-radius:100%;
    border:solid 1px #4a4a4a;
    display: block;
}
.product-color-circle{
    height:20px;
    width:20px;
    border-radius:100%;
    margin: 3px;
}

.product-size-text{
    font-size: 16px;
    letter-spacing: -0.1px;
    color: #4a4a4a;
}

.product-margin-circles{
    margin-right:10%;
    cursor:pointer;
}

.product-images-box{
    width: 360px;
    height: 550px;
}

.product-backtodress-border{
    border-bottom: solid 1px #4a4a4a;
}

.product-qty-margin{
    margin-left:7%;
}

.product-qty-bg{
    background-color:#eaeaea ! important;
}

.product-btn-margin-left{
    margin-left: -11% ;
}

.product-body-heading-text{
    font-size: 24px ! important;
    font-weight: bold ! important;
    letter-spacing: -0.5px ! important;
    text-align: center ! important;
    color: #4a4a4a ! important;
    margin-bottom: 2%;
}

.product-body-margin-bottom{
    margin-bottom: 25%;
    padding-top:5%;
    background-color: #ffffff;
}

.heart-margin{
    margin-right:4%;
}

.popup-header-text{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #4a4a4a;
}

.popup-dialogue{
    max-width: 649px !important;
    margin: 156px auto !important;
    border-radius:0% !important;
}

.popup-header{
    border-bottom: solid 2px #979797 !important;
    border-radius:0% !important;
}

.popup-item-text{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #4a4a4a;
}

.popup-item-desc{
    font-size: 12px;
    letter-spacing: -0.1px;
    color: #4a4a4a;
}

.popup-price{
    font-size: 16px;
    font-weight: 900;
    letter-spacing: -0.4px;
    text-align: center;
    color: #4a4a4a;
}

.popup-currency{
    font-size: 12px;
    font-weight: normal;
    color: #9b9b9b;

}

.popup-btn{
    padding: 0.7rem .75rem !important;
}

.shippingBox{
    padding: 15px 30px;
    border-radius: 1px;
    background-color: #f2f2f2;
    vertical-align: center;
}

.shippingBox span{
    vertical-align: center;
}

.shippingBox .plusBtn{
    background-color: transparent;
    padding: 2px;
    border: none;
    color: black;
    float: right;
}

.product-collapse-heading{
    font-size: 14px;
    font-weight: 900;
    text-align: center;
    color: #4a4a4a;
}

.product-collapse-text{
    font-size: 12px;
    letter-spacing: -0.3px;
    color: #4a4a4a;
}

.product-collapse-btn{
    background-color:transparent;
    border:none;
    border-radius: 0%;
    width: 100%;
    text-align: left;
}

.product-collapse-plus-text{
    width: 90%;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #4a4a4a;
}

.product-text{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #4a4a4a;
}

.product-text:focus{
    text-decoration:none;
    color:#4a4a4a;
}

.product-policy-padding{
    padding-top:5%;
    padding-bottom: 5%;
}

.product-detail-margin{
    margin-bottom:4%;
    padding-left:15px !important;
    padding-right:15px !important;
}

.product-collapsed .btn.collapsed:after{
    text-decoration: none;
    float:right;
	content: '+';
	font-size: 18px;
	font-weight: bold;
	vertical-align: middle;
}

.product-collapsed .btn:after{
    text-decoration: none;
    float: right;
	content: '-';
	font-size: 18px;
	font-weight: bold;
	vertical-align: middle;
}

.product-size-guide-padding{
    padding-right: 4%;
}

.product-info{
    z-index:2
}

.product-counter-font{
    font-size: 15px;
}

.product-qty-padding-top{
    padding-top: 9%;
}

.product-top-icons{
    margin-top: -26%;
    padding-left: 5%;
}

.product-icons-styles{
  color: #3a4664;
  font-size:18px;
}

.product-icon-padding-right{
    padding-right:4%;
}

.product-carousel-indicators{
    right: 0% !important;
    margin-left: 0% !important;
    top: 96% !important;
}

.product-mobile-heading{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #4a4a4a;
}

.product-mobile-text{
    font-size: 14px;
    letter-spacing: -0.2px;
    color: #4a4a4a;
}

.product-mobile-price{
    font-size: 18px;
    font-weight: 900;
    letter-spacing: -0.4px;
    color: #4a4a4a;

}

.product-mobile-rs{
    font-family: Nunito-Roman;
    font-size: 12px;
    font-weight: normal;
}

.product-mobile-border-right{
    border-right: solid 1px #d6d6d6;
}

.product-mobile-top-padding{
    padding-top: 3%;
    padding-left: 0;
}

.product-main-img-box{
    width:66.66% !important;
    height:787px !important;
}

.product-main-img-box img{
    width: 100% !important;
    height:100% !important;
}

.product-body3-img{
    width: 100% !important;
    height: 911px !important;
}

.product-images-box{
    margin-left: 4% !important;
    margin-top:-3% !important;
    height: 550px !important;
}

.product-images-box:nth-child(even){
    margin-top:2% !important;
    margin-left:1% !important;
    height: 550px !important;
}

.index__simpleZoom___pAG-d{
    height:100%;
}

.index__simpleZoom___pAG-d img{
    height:100%;
}

.product-image-top-margin{
    /* margin-top: -21%; */
    margin-bottom: 2%;
}

.position-product-desc{
    position: absolute;
    bottom:0;
    height: 50%;
}

@media(min-width: 620px) {
    .product-carousel{
        display: none;
    }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}


  

