.aboutusc {
    background-image: url(./../../img/pandc/1.png);
    height: 326px;
}

.p-a-c {
    margin-top: 41px;
    margin-left: 4.9%;
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1.1px;
    color: #ffffff;
}

.l-a-u{
    margin-left: 5.12%;
    width: 63px;
    height: 3px;
    border: solid 2px #ffffff;
}