.o-j-h-1 {
    margin-top: 49px;
}

.cus-j-c {
    margin-left: 9.2%;
    margin-right: 9.2%;
}

.ourjourney-line{
    margin-left: 47.6%;
    margin-right: 47.6%;
    margin-top: 11px;
    align-content: center;
    margin-bottom: 24px;
    width: 4.9%;
    height: 5px;
    border-top: solid 2px #4a4a4a
}

.o-j-h-1 {
  font-size: 36px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1px;
  text-align: center;
  color: #303030;
}

.o-j-p-1 {
font-size: 18px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.61;
letter-spacing: -0.3px;
color: #4a4a4a
}

.cus-o-j-i {
    margin-top: 42px;
    background-image: url(./../../img/pandc/1.png);
    height: 592px;
    margin-bottom: 50px;
}