.vision-line-container-bottom {
  width: 100%;
  opacity: 0.2;
  border: solid 1px #979797;
}

.cus-v-lr {
    margin-top: 50px;
    margin-left: 4.9%;
    margin-right: 6.5%;
}

.image-vision-class {
    width: 356px;
    height: 237px;
    margin-bottom: 38px;
}

.vision-line {
    margin-bottom: 24px;
    width: 4.9%;
    height: 5px;
    border-top: solid 2px #4a4a4a
}

.v-heading {
  font-size: 36px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1px;
  color: #303030
}

.v-para {
    font-family: NunitoSans;
    font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.61;
    letter-spacing: -0.3px;
    color: #4a4a4a;
}

.cus-v-lr {

}