/* body {
  margin: 0;
  padding: 0;
} */

html{
  font-size: 12px ;
}

body{
  font-size: 12px !important;
  font-family: 'Poppins' ! important;
  font-weight: 400;   
}

.val_initial{
	padding-left: 0px;
	padding-right: 0px;
	margin:0px;
}
.list{
	list-style-type: none;
}
.margins_initial{
	margin-left:0px;
	margin-top:0px;
	margin-bottom:0px;
	margin-right:0px;
}
.footer_bg_col{
    background-color: #3a3a3a;
}
.footer_ht{
	height:10%;
}
.footer_bg2{
    background-color: #292929;
    padding: 10px;
}

.footer_end{
	width:100%;
	font-size: 14px;
	letter-spacing: 2px;
	text-align: center;
	color: #a9a5a4;
	text-transform:uppercase;
}

.btn_collect_b5{
  margin-left:26%;
  font-size: 15px;
  font-weight: bolder;
  text-align:center;
  letter-spacing: -0.3px;
  color: #66799a;
  height:50px !important;
  width:300px !important;
  background-color: #ffffff;
}
.button_blue{
    margin-top:29px;
    margin-left:20px;
    background-color: #3a4664;
    color:#fff;
    font-size: 15px;
    font-weight: bolder;
    text-align:center;
    letter-spacing: -0.3px;
    height:50px !important;
    width:300px !important;
}
.margin-top{
  margin-top:10%;
}
.position_abs{
  position: absolute;
}
.btn_common{
    width: 15.5em !important;
    height: 2.8em !important;
    background-color: #ffffff;
    font-weight: bold;
}
.font_family1{
    font-weight: medium;
}
.font_family2{
    font-weight: bold;
}
.font_family3{
    font-family:Avenir-Roman;
}
.color1{
    color:#4a4a4a;
}
.color2{
    color:#3a4664;
}
.color3{
  color:#ffffff;
}
.font_wt1{
    font-weight:900;
}
.font_wt2{
    font-weight:500;
}
.font_wt3{
    font-weight:bold;
}
.font_wt4{
    font-weight:normal;
}
.font_size1{
    font-size:12px;
}
.font_size2{
    font-size:14px;
}
.font_size3{
    font-size:16px;
}
.font_size4{
    font-size:22px;
}
.text-right{
  text-align: right;
}
.text-left_imp{
  text-align: left!important;
}
.border1{
    border:solid 1px #eaeaea;
}
.bg_white{
  background-color: #fff;
}
.pdng_rt_left{
  padding-left: 0%;
  padding-right: 0%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}